{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="page-title-section overlay" style="background-image: url('images/bg-marcenaria-02.jpg'); background-size: cover;" >
  <div class="container">

    <div class="row" >

      <div class="col text-center">

        <h2 class="text-white ">Aprenda a fazer móveis que dão <em>lucro de verdade</em></h2>
        <h3 class="text-light mb-4">Sem muito esforço, no conforto da sua casa</h3>


        <iframe width="560" height="315" src="https://www.youtube.com/embed/Wn_mipvXy_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p><a class="btn btn-danger btn-large mb-2 mt-3" href="#oferta" role="button">
          SIM! Quero fazer móveis lucrativos!
        </a></p>
      </div>
    </div> <!-- end main -->

    </div>
</section>



<!-- section -->
<section class="section-sm">
  <div class="container">

    {{- partial "curso_home.html"  -}}

  {{- partial "row_garantia.html" . -}}
  {{- partial "row_professor.html" . -}}
  {{- partial "row_faq.html" . -}}

  </div>

</section>




{{ end }}
