{{ define "main" }}

<!-- notice -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Aulas e e-books exclusivos, totalmente grátis</h2>
        <p>O Oficina de Casa esta organizando um evento online gratuito, para quem é apaixonado por marcenaria. O evento ocorre no grupo exclusivo do Whatsapp, de segunda a quarta-feira. Veja o que você irá ganahr, ao participar:<p>
        <ol class="list-unstyled mb-3">
          <li>➡ Aulas exclusivas</li>
          <li>➡ E-books exclusivos</li>
          <li>➡ Curso Bancada de Paletes</li>
        </ol>
        <p>E você ainda terá acesso à ofertas super-especiais para adquirir os cursos do Oficina de Casa. Acredite, serão condições realmente imperdíveis.</p>
        <h3>Totalmente seguro</h3>
        <p>Você pode deixar o grupo qundo quiser. Além disso, também não gostamos de span. Aqui está programação das mensagens enviadas durante o evento:</p>
        <p class="mb-0"><strong>Sábado e Domingo: aquecimento</strong></p>
        <ol class="list-unstyled mb-3">
          <li>➡ Os 2 vídeos mais recentes do canal, para você conhecer o nosso trabalho</li>
        </ol>
        <p class="mb-0"><strong>Segunda-feira: Aulas Exclusivas</strong></p>
        <ol class="list-unstyled mb-3">
          <li>➡ 3 aulas do curso Marcenaria em Casa 2.0 </li>
          <li>➡ 3 aulas do curso Como Fazer Guitarras </li>
          <li>➡ Ebook Primeiros passos na marcenaria</li>
        </ol>

        <p class="mb-0"><strong>Terça-feira: Revelação</strong></p>
        <ol class="list-unstyled mb-3 mb-3">
          <li>➡ Curso Bancada de Paletes completo (7 aulas, ebook e planos de corte)</li>
          <li>➡ Grupo aberto para troca de mensagens, com participação dos professores</li>
          <li>➡ Depoimento dos alunos</li>
          <li>➡ Momento Revelação da promoção</li>
          <li>➡ Grupo aberto para troca de mensagens, com participação dos professores</li>
        </ol>

        <p class="mb-0"><strong>Quarta-feira: Inscrições abertas</strong></p>
        <ol class="list-unstyled mb-3">
          <li>➡ Abertura do carrinho (link pra inscrição)</li>
          <li>➡ Brinde surpresa</li>
          <li>➡ Grupo aberto para troca de mensagens, com participação dos professores</li>
          <li>➡ Encerramento da promoção</li>
        </ol>

        <h3>Como faço para participar</h3>
        <p>Basta entrar no grupo do Whatsapp (link logo abaixo) e seguir as instruções que serão divulgadas pela nossa equipe.</p>
        <a href="https://chat.whatsapp.com/DVpl7FObYWkGi5Ea4wtd6k" class="btn btn-primary">QUERO ENTRAR NO GRUPO EXCLUSIVO!</a>

      </div>
    </div>
  </div>
</section>
<!-- /notice -->

{{ end }}
