{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">

    {{ if eq .RelPermalink "/cursos/moveis-planejados/" }}

      {{- partial "curso_planejados.html"  -}}

    {{ else if eq .RelPermalink "/cursos/banco-mesa/" }}

        {{- partial "curso_banco_mesa.html"  -}}

    {{ else if or (eq .RelPermalink "/cursos/marcenaria-em-casa/") (eq .RelPermalink "/cursos/marcenaria/") }}

      {{- partial "curso_marcenaria.html"  -}}

    {{ else if eq .RelPermalink "/cursos/tupia/" }}

      {{- partial "curso_tupia.html"  -}}

    {{ else if eq .RelPermalink "/cursos/marcenaria-criativa/" }}

      {{- partial "curso_criativa.html"  -}}

    {{ else if eq .RelPermalink "/cursos/moveis-mdf/" }}

      {{- partial "curso_mdf.html"  -}}

    {{ else if or (eq .RelPermalink "/cursos/curso-luthieria-pauleira-oficina-de-casa/") (eq .RelPermalink "/cursos/luthieria/") }}

      {{- partial "curso_guitarra.html"  -}}

    {{ else }}

      <div class="content">{{ .Content }}</div>

    {{ end }}


  {{ if not (eq .RelPermalink "/cursos/banco-mesa/") }}

  {{- partial "cta_surpresa.html" . -}}

  {{ end }}

  {{- partial "row_garantia.html" . -}}
  {{- partial "row_faq.html" . -}}

  </div>

</section>

<footer class="footer-nav add-to-cart">
  <div class="container">
  <div class="row mt-4 mb-2">
    <div class="col-md-8">
      <h4>Que tal um desconto para começar o curso agora?</h4>
      <!--p class="d-sm-none d-block">De R$ <del>{{ .Params.De }}</del> por ... descubra a oferta surpresa!</p-->

    </div>
    <div class="col-md-4">
      <a href="{{ .Params.Apply_url | safeURL }}" class="btn btn-danger">SIM! Quero economizar!</a>
    </div>

  </div>
  </div>

</footer>

{{ end }}
