{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">

    {{ if eq .RelPermalink "/cursos/moveis-planejados/" }}

      {{- partial "curso_planejados.html"  -}}
      {{- partial "cta_vermelho.html" . -}}

    {{ else if eq .RelPermalink "/cursos/banco-mesa/" }}

      {{- partial "curso_banco_mesa.html"  -}}

    {{ else if eq .RelPermalink "/cursos/moveis-palete/" }}

      {{- partial "carta-dinheiro-em-casa.html"  -}}

    {{ else if (eq .RelPermalink "/cursos/marcenaria/") }}

      {{- partial "curso_marcenaria.html"  -}}

    {{ else if eq .RelPermalink "/cursos/tupia/" }}

      {{- partial "curso_tupia.html"  -}}
      {{- partial "cta_vermelho.html" . -}}

    {{ else if eq .RelPermalink "/cursos/marcenaria-criativa/" }}

      {{- partial "curso_criativa.html"  -}}

    {{ else if eq .RelPermalink "/cursos/moveis-mdf/" }}


      {{- partial "curso_mdf.html"  -}}
      {{- partial "cta_vermelho.html" . -}}



    {{ end }}


    {{ if or (eq .RelPermalink "/cursos/curso-luthieria-pauleira-oficina-de-casa/") (eq .RelPermalink "/cursos/luthieria/") }}

      {{- partial "curso_guitarra.html"  -}}


    {{ else if eq .RelPermalink "/cursos/guitarbox/" }}

      {{- partial "curso_guitarbox.html"  -}}

    {{ else }}

      <div class="content">{{ .Content }}</div>

    {{ end }}

  {{- partial "row_garantia.html" . -}}
  {{- partial "row_professor.html" . -}}
  {{- partial "row_faq.html" . -}}

  </div>

</section>



{{ end }}
