<!-- CTA MDF-->
  <div class="col-lg-4 mb-5 offset-lg-1">
    <img src="/images/thumbs/mdf-square.jpg" width="100%" />
  </div>
  <div class="col-lg-6 mt-2">
    <h3 class="mb-3">COMO FAZER MÓVEIS EM MDF</h3>
    <p><strong>Já pensou em fazer um dinheiro extra vendendo móveis e objetos de decoração?</strong></p>
    <p>Neste curso você vai aprender a fazer 23 projetos com alto potencial de lucro para você se divertir enquanto ganha dinheiro.</p>
    <p>Tudo explicado passo-a-passo, pra você mobiliar sua casa ou fazer uma grana extra.</p>
    <ul class="list-inline text-xl-center mb-3">
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-calendar text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">45 aulas<br/><small>em vídeo HD</small></h6>
          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-timer text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">10 horas<br/><small>de carga horária</small></h6>
          </div>
        </div>
      </li>

      <!--li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-wallet text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">INCLUSO<br><small>Economize R$299</small></h6>
          </div>
        </div>
      </li-->
    </ul>
  </div>
