<!-- CTA 3 cursos -->
<!-- CTA palete -->
  <div class="col-lg-4 mb-3 offset-lg-1"><img src="/images/marcenaria-square.jpg" width="100%" /></div>
  <div class="col-lg-6 mt-2">
    <h3 class="mb-3">MARCENARIA DO ZERO</h3>

    <p><strong>Aprenda a fazer móveis com paletes e outras madeiras, usando poucas ferramentas.</strong></p>
    <p>Você vai conhecer as técnicas secretas utilizadas por profissionais da marcenaria para fazer móveis e objetos.</p>
    <p>Este curso foi desenvolvido com base em 30 anos de experiência criando móveis e objetos do ZERO, usando apenas a criatividade e um profundo conhecimento técnico.</p>

    <ul class="list-inline text-xl-center mb-3">
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-calendar text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">46 aulas<br/><small>em vídeo HD</small></h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-timer text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">24 horas<br/><small>de carga horária</small></h6>

          </div>
        </div>
      </li>

      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-wallet text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0"><small>De: 399,00</small><br>Por: GRÁTIS</h6>
          </div>
        </div>
      </li>
    </ul>

</div>


<div class="col-12 mt-2 mb-5">
<div class="border-bottom border-primary"></div>
</div>


  <div class="col-lg-4 mb-3 offset-lg-1">
    <img src="/images/thumbs/tupia-square.jpg" width="100%" />
  </div>
  <div class="col-lg-6 mt-2">
    <h3 class="mb-3">TUPIA: SEGREDOS & TÉCNICAS</h3>

    <p><strong>Aprenda os Segredos e técnicas da Tupia</strong></p>
    <p>E suba de nível na marcenaria, fazendo ranhuras, molduras, entalhes, chanfros, encaixes e detalhes arredondados em madeira.</p>
    <p>Isso porque a Tupia é uma das ferramentas mais completas e versáteis da marcenaria, sendo usada por profissionais da marcenaria, artistas e até mesmo escultores.</p>

    <ul class="list-inline text-xl-center mb-3">
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-calendar text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">28 aulas</h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-timer text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">11 horas</h6>

          </div>
        </div>
      </li>

      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-wallet text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0"><small>De: 399,00</small><br>Por: GRÁTIS</h6>
          </div>
        </div>
      </li>
    </ul>

</div>

<div class="col-12 mt-2 mb-5">
  <div class="border-bottom border-primary"></div>
</div>

<div class="col-lg-4 mb-3 offset-lg-1"><img src="/images/thumbs/mdf-square.jpg" width="100%" /></div>
<div class="col-lg-6 mt-2">
  <h3 class="mb-3">COMO FAZER MÓVEIS EM MDF</h3>

  <p><strong>Já pensou em fazer um dinheiro extra vendendo móveis e objetos de decoração?</strong></p>
  <p>Neste curso você vai aprender a fazer 23 projetos com alto potencial de lucro para você se divertir enquanto ganha dinheiro.</p>
  <p>Tudo explicado passo-a-passo, pra você mobiliar sua casa ou fazer uma grana extra.</p>

  <ul class="list-inline text-xl-center mb-3">
    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
      <div class="d-flex align-items-center">
        <i class="ti-calendar text-primary icon-md mr-2"></i>
        <div class="text-left">
          <h6 class="mb-0">45 aulas</h6>

        </div>
      </div>
    </li>
    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
      <div class="d-flex align-items-center">
        <i class="ti-timer text-primary icon-md mr-2"></i>
        <div class="text-left">
          <h6 class="mb-0">10 horas</h6>

        </div>
      </div>
    </li>

    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
      <div class="d-flex align-items-center">
        <i class="ti-wallet text-primary icon-md mr-2"></i>
        <div class="text-left">
          <h6 class="mb-0"><small>De: 399,00</small><br>Por: GRÁTIS</h6>
        </div>
      </div>
    </li>
  </ul>

</div>

<div class="col-12 mt-2 mb-5">
  <div class="border-bottom border-primary"></div>
</div>
