<!-- CTA Club -->
  <div class="col-lg-4 mb-3 offset-lg-1">
    <img src="/images/thumbs/ideias-square.jpg" width="100%" />
  </div>
  <div class="col-lg-6 mt-2">
    <h3 class="mb-3">MARCENARIA CRIATIVA</h3>

    <p><strong>60 projetos incríveis para você mobiliar sua casa ou fazer um extra</strong></p>
    <p>Desenvolva sua a criatividade enquanto coloca a mão na massa. Ou melhor, na madeira!</p>
    <p>Você vai aprender técnicas novas e ampliar o seu entendimento sobre marcenaria, até atingir o ponto em que você será capaz de fazer qualquer coisa que imaginar.</p>

    <ul class="list-inline text-xl-center mb-3">
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-calendar text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">46 aulas</h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-timer text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">24 horas</h6>

          </div>
        </div>
      </li>

      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-wallet text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0"><small>De: 399,00</small><br>Por: GRÁTIS</h6>
          </div>
        </div>
      </li>
    </ul>

</div>
