<!-- CTA Club -->
<div class="col-lg-4 mb-3 offset-lg-1">
  <img src="/images/thumbs/tupia-square.jpg" width="100%" />
</div>
<div class="col-lg-6 mt-2">
  <h3 class="mb-3">TUPIA: SEGREDOS & TÉCNICAS</h3>

  <p><strong>Aprenda os Segredos e técnicas da Tupia</strong></p>
  <p>E suba de nível na marcenaria, fazendo ranhuras, molduras, entalhes, chanfros, encaixes e detalhes arredondados em madeira.</p>
  <p>Isso porque a Tupia é uma das ferramentas mais completas e versáteis da marcenaria, sendo usada por profissionais da marcenaria, artistas e até mesmo escultores.</p>

  <ul class="list-inline text-xl-center mb-3">
    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
      <div class="d-flex align-items-center">
        <i class="ti-calendar text-primary icon-md mr-2"></i>
        <div class="text-left">
          <h6 class="mb-0">46 aulas<br/><small>em vídeo HD</small></h6>

        </div>
      </div>
    </li>
    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
      <div class="d-flex align-items-center">
        <i class="ti-timer text-primary icon-md mr-2"></i>
        <div class="text-left">
          <h6 class="mb-0">24 horas<br/><small>de carga horária</small></h6>

        </div>
      </div>
    </li>

    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
      <div class="d-flex align-items-center">
        <i class="ti-wallet text-primary icon-md mr-2"></i>
        <div class="text-left">
          <h6 class="mb-0">INCLUSO<br><small>Economize R$199</small></h6>
        </div>
      </div>
    </li>
  </ul>

</div>

<div class="col-12 mt-2 mb-5">
<div class="border-bottom border-primary"></div>
</div>
