<div class="row mb-5 ">
<div class="col-lg-6 offset-lg-3 pb-3 card card-cta text-center bg-danger ">
  <h2 class="text-center text-uppercase text-white">Inscreva-se já!</h2>
  <hr />
  <h4 style="color: #ffffff8c"> De R$ <del>{{ .Params.De }}</del> por apenas:<h4>
  <h2 class="text-white">{{ .Params.Por }}</h2>
    <p><a class="btn btn-primary btn-large mb-2 mt-3" href="{{ .Params.Apply_url | safeURL }}" role="button">
      {{ .Params.Cta }}
    </a></p>
    
    <img src="/images/formas-pagamento-3.png"  alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
</div>
</div>
