<div class="row mb-5 ">

<div class="col-lg-6 offset-lg-3 pb-3 card card-cta text-center bg-danger ">
  <h3 class="text-center text-uppercase text-white">Tudo isso, por apenas:</h3>

  <h3 class="text-white"><small style="color: #ffffff8c">R$ <del>{{ .Params.De }}</del></h3>
  <h2 class="text-white">
    {{ .Params.preco_parcelado }}</h2>
    <p><a class="btn btn-primary btn-large mb-2 mt-3" href="{{ .Params.Apply_url | safeURL }}" role="button">
      Garanta sua vaga!
    </a></p>
    <img src="/images/formas-pagamento-3.png" width="465" hieght="40" alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
</div>

</div>
