<div class="row  mb-5 " id="programa">
    <div class="col-12 ">
        <h3>Conheça os projetos de Móveis em MDF</h3>
        <p>Incluindo um e-book com todos os planos de corte para você imprimir</p>
    </div>

  <div class="col-md-3 mb-5 ">
    <h5>Sala de estar</h5>
    <ul  class="list-unstyled">
    <li>➡ Aparadores</li>
    <li>➡ Estantes</li>
    <li>➡ Poltronas</li>
    <li>➡ Painéis de TV</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">

    <h5>Dormitório</h5>
    <ul  class="list-unstyled">
    <li>➡ Criados Mudos</li>
    <li>➡ Cabeceiras</li>
    <li>➡ Aparador Camarim</li>
    <li>➡ Armário Porta Bijoux</li>
    <li>➡ Espehlo de corpo inteiro</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">

    <h5>Dormitório Infantil</h5>
    <ul  class="list-unstyled">
    <li>➡ Escrivaninha</li>
    <li>➡ Estante</li>
    <li>➡ Objetos de decoração</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">

    <h5>Banheiro</h5>
    <ul  class="list-unstyled">
    <li>➡ Armário com Rodinhas</li>
    <li>➡ Armário com dobradiças caneco</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">


<h5>Armario</h5>
<ul  class="list-unstyled">
<li>➡ Projeto</li>
<li>➡ Construção</li>
<li>➡ Montagem e acabamento</li>
</ul>

</div>
<div class="col-md-3 mb-5 ">

<h5>Diversos</h5>
<ul  class="list-unstyled">
<li>➡ Organizador de Escritório</li>
<li>➡ Mesa dobrável com Estante</li>
<li>➡ Cavalete com regulagem</li>
<li>➡ Cabideiro</li>
<li>➡ Sapateira regulável</li>
</ul>

</div>
<div class="col-md-3 mb-5 ">

<h5>Bônus</h5>
<ul  class="list-unstyled">
<li>➡ Lâminas de Tico-Tico para MDF</li>
<li>➡ Disco de Serra para Laminados</li>
</ul>

</div>


</div>
