<section class="section-sm ">
  <div class="container bg-dark p-5 mb-5">

<div class="row">
  <div class="col text-center mb-2 ">
    <h2 class="text-white ">Que tal viver construindo instrumentos musicais e faturando alto?</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">01</p>
    <p class="text-white">Saiba como luthiers cobram até 10 mil reais por instrumento</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">02</p>
    <p class="text-white">Entenda quais ferramentas e materiais comprar, como escolher e como economizar</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">03</p>
    <p class="text-white">Aprenda a desenhar e projetar instrumentos musicais de corpo sólido</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">04</p>
    <p class="text-white">Aprenda a criar gabaritos para facilitar o corte e escalar a produção</p>
  </div>

</div>

<div class="row mb-5">
  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">05</p>
    <p class="text-white">Saiba tudo sobre medidas, marcações e cortes e evite desperdícios</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">06</p>
    <p class="text-white">Aprenda a abrir cavidades para os captadores e partes elétricas</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">07</p>
    <p class="text-white">Saiba como cortar e definir o shape do braço, além de instalar os trastes</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">08</p>
    <p class="text-white">Conheça as técnicas de acabamento, instalação elétrica e regulagem</p>
  </div>

</div>
</div>

<div class="container">

  <div class="row mb-5">

    <div class="col-12 mb-5">
      <h2 class="text-center">Veja o que você vai aprender</h2>
    </div>

    <div class="col-md-4 mb-3">

        <img src="/images/guitarra/g11.jpg" alt="Ferramentas Luthieria" title="G11" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 1:</span><br/> Ferramentas e Materiais necessários para fazer guitarras</h5>
    </div>
    <div class="col-md-4 mb-3">
        <img src="/images/guitarra/g8.jpg" alt="G8" title="G8" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 2:</span><br/> Desenho e projeto de guitarras elétricas</h5>
      </div>
      <div class="col-md-4 mb-3">
      <img src="/images/guitarra/Tupia_corte-450x250-1.jpg" alt="" title="Tupia_corte" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 3:</span><br/> Como criar um Gabarito para o Corpo da suas guitarras</h5>
      </div>
      <div class="col-md-4 mb-3">
      <img src="/images/guitarra/corpo.jpg" alt="Corpo" title="Corpo" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 4:</span><br/> Técnicas de corte do Corpo da Guitarra</h5>
      </div>
      <div class="col-md-4 mb-3">
      <img src="/images/guitarra/Tupia_corte1-450x253-1.jpg" alt="" title="Tupia_corte1" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 5:</span><br/> Como abrir as cavidades para captadores e parte elétrica</h5>
      </div>
      <div class="col-md-4 mb-3">
      <img src="/images/guitarra/g4.jpg" alt="G4" title="G4" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 6:</span><br/> Como cortar e definir o shape do Braço</h5>
      </div>
      <div class="col-md-4 mb-3">
      <img src="/images/guitarra/g10.jpg" alt="G10" title="G10" height="auto" width="100%" />
      <h5 class="mt-3"><span class="text-primary">Módulo 7:</span><br/> Como cortar a escala do braço e&nbsp;aplicar os trastes</h5>
    </div>
    <div class="col-md-4 mb-3">  <img src="/images/guitarra/g9.jpg" alt="G9" title="G9" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 8:</span><br/> Como fazer o Headstock e instalar as tarrachas</h5>
      </div>
      <div class="col-md-4 mb-3">
      <img src="/images/guitarra/g3.jpg" alt="G3" title="G3" height="auto" width="100%" />
        <h5 class="mt-3"><span class="text-primary">Módulo 9:</span><br/> Acabamento, instalação elétrica e regulagem do instrumento</h5>
      </div>

      </div>



<div class="row mb-5 " id="oferta">

  <div class="col-lg-6 offset-lg-3 pb-3 pl-5 pr-5 card card-cta text-center bg-danger ">
    <h2 class="text-center text-uppercase text-white">Leve 3, Pague 1</h2>
    <hr/>
    <h2 class="text-white"><small style="color: #ffffffc5">Apenas 12x R$ 49,90</small></h2>

    <hr/>
      <h4 class="text-white">O QUE ESTÁ INCLUSO:</h4>
      <p class="text-white mb-1  text-left"><strong></span> CURSO COMO FAZER GUITARRAS, com passo a passo completo para você construir suas guitarras</strong></p>
    <p class="text-white mb-1 text-left"><strong><span class="text-primary">+</span> <em>E-BOOK</em> com tudo que você precisa saber para comprar e usar máquinas elétricas</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">+</span> <em>CURSO BÔNUS:</em> GuitarBox </strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">+</span> <em>CURSO BÔNUS:</em> Segredos e técnicas da Tupia </strong></p>

      <p><a class="btn btn-primary btn-large mb-2 mt-3" href="https://pay.hotmart.com/U17228602B?off=gb7yhymy" role="button">
       Compre agora!
      </a></p>
      <p class="text-white">15 dias de garantia, sem burocracia</p>
      <img src="/images/formas-pagamento-3.png"  alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
  </div>

</div>
</div>




</section>
