<div class="row  mb-5 ">
    <div class="col-12 ">
        <h2>Conheça o programa do curso</h2>
        <p>Olha só o que você vai aprender no curso Marcenaria em Casa 2.0</p>
    </div>

    <div class="col-4 mb-5">
      <h4>Quais os tipos de tupia e fresas e como usar</h4>
        <img src="/images/tupia/tipos-tupia.jpg" alt="Tipos Tupia e fresas" title="Tipos Tupia e fresas" height="auto" width="100%" />
        </div>


        <div class="col-4 mb-5">
          <h4>Como fazer &amp; usar sua bancada para tupia&nbsp;</h4>
          <img src="/images/tupia/Bancada_tupia.jpg" alt="Bancada para tupia, como fazer" title="Bancada para tupia, como fazer" height="auto" width="100%"/>
        </div>

        <div class="col-4 mb-5">
          <h4>Jigs especiais para aumentar a qualidade e a produtividade</h4>
          <img src="/images/tupia/JigCircpreview-1.jpg" alt="Jig Cirular Tupia" title="Jig Cirular Tupia" height="auto" width="100%" />
        </div>

        <div class="col-4 mb-5">
          <h4>Como fazer molduras com fresas combinadas</h4>
          <img src="/images/tupia/molduras.jpg" alt="Moldura com fresas combinadas" title="Moldura com fresas combinadas" height="auto" width="100%" />
        </div>

        <div class="col-4 mb-5"><h4>Como criar guias para usar na sua Bancada</h4>
          <img src="/images/tupia/guias.jpg" alt="Bancada para tupia" title="Bancada para tupia" height="auto" width="100%" />
        </div>

        <div class="col-4 mb-5"><h4>Gabaritos diversos para rebaixos e canaletas</h4>
          <img src="/images/tupia/gabaritos.jpg" alt="Jig para Aplainar" title="Jig para Aplainar" height="auto" width="100%" />
        </div>

</div>
