<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">Está cansado de não conseguir <em>ganhar dinheiro com marcenaria</em>?</h2>
  </div>
  <div class="col-md-6">
    <p>O banco que vira mesa é o projeto perfeito para você ganhar uma grana em casa, <strong>mesmo que você não tenha experiência nenhuma.</strong></p>
    <p>E claro: vender na internet!</p>
    <p>As pesquisas em torno do banco que vira mesa têm uma média de procura de <strong>357 POR HORA no Google.</strong></p>
    <p>Marceneiros normalmente fazem seus orçamentos multiplicando o valor do material gasto por 2, 3 ou até 4 vezes. Por isso um vender um produto com ALTA demanda e que JÁ ESTÁ NICHADO pode ser tão lucrativo.</p>
    <p>Além de estar fazendo uma atividade que você GOSTA e que te traz SATISFAÇÃO. É possível <em><strong>lucrar mesmo sem investir uma fortuna em uma oficina</strong>.</em></p>

  </div>
  <div class="col-md-6">
    <img src="/images/google-banco-mesa.webp" width="100%"  class="mb-3" />
  </div>


</div><!-- mercado -->

<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">Aprenda em uma semana, faça na segunda e <em>venda na terceira!</em></h2>
  </div>
  <div class="col-md-6">
    <p>Você pode ser iniciante na marcenaria ou já ter uma certa experiência: o banco que vira mesa é o <strong>melhor jeito de começar a vender rapidamente</strong>.</p>

        <p>Os materiais são baratos e fáceis de encontrar. Você vai investir menos de R4 200,00 para fazer um banco que pode ser vendido por mais de R$ 600,00.</p>

        <p>Medir e marcar as peças é muito fácil e não requer muito espaço para construir o projeto.</p>
        <p>Você vai aprender todas as técnicas <strong>usando ferramentas manuais e máquinas elétricas</strong>, a escolha é sua.</p>
        <p>E vai aprender a criar gabaritos e jigs para <strong>facilitar ainda mais o trabalho</strong> e permitir que você faça mais bancos ao mesmo tempo, ganhando em escala.</p>


  </div>
  <div class="col-md-6">
    <img src="/images/banco-mesa.gif" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-3"><img src="/images/pdf-banco-mesa-1.webp" width="100%"  class="mb-3" /></div>
  <div class="col-md-3"><img src="/images/pdf-banco-mesa-2.webp" width="100%"  class="mb-3" /></div>
  <div class="col-md-3"><img src="/images/pdf-banco-mesa-3.webp" width="100%"  class="mb-3" /></div>
  <div class="col-md-3"><img src="/images/pdf-banco-mesa-4.webp" width="100%"  class="mb-3" /></div>



</div><!-- mercado -->

<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">Por que fazer bancos que viram mesa <em>é um bom negócio</em>?</h2>
  </div>
  <div class="col-md-6">
    <img src="/images/banco-mesa.webp" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-6">
    <ul>
      <li class="mb-3" style="font-size:18px;">➡ É rápido e fácil de fazer</li>
      <li class="mb-3" style="font-size:18px;">➡ Requer poucas ferramentas</li>
      <li class="mb-3" style="font-size:18px;">➡ A matéria prima é barata</li>
      <li class="mb-3" style="font-size:18px;">➡ Ótimo margem de lucro com a venda</li>
      <li class="mb-3" style="font-size:18px;">➡ Todo mundo quer ter em casa</li>
      <li class="mb-3" style="font-size:18px;">➡ Essencial em espaços pequenos e áreas externas</li>

    </ul>


  </div>

</div><!-- mercado -->


<div class="row mb-3">
  <div class="col-12 text-center mb-4 ">
    <h2 class="mb-3">Eles <em>começaram do zero</em> igual a você</h2>
    <h4 class="">E estão vivendo de marcenaria, fazendo bonito</h4>
    <p class="text-center">Confira abaixo as fotos que eles nos mandam</p>
  </div>
  <div class="col-md-2  col-6 col-6">
    <img src="/images/mulheres/anna.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/bats.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/cris.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/salles.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/maurinha.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/sandromoreno.jpg" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-05.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-01.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-06.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-07.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-04.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-13.jpg" width="100%"  class="mb-3" />
  </div>

</div><!-- social marcenaria -->

<div class="row mb-5 " id="oferta">

  <div class="col-lg-6 offset-lg-3 pb-3 card card-cta text-center bg-danger ">
    <h2 class="text-center text-uppercase text-white">Oferta especial</h2>
    <script type="text/javascript">
      setInterval(function time(){
      var d = new Date();
      var hours = 24 - d.getHours();
      var min = 60 - d.getMinutes();
      if((min + '').length == 1){
        min = '0' + min;
      }
      var sec = 60 - d.getSeconds();
      if((sec + '').length == 1){
            sec = '0' + sec;
      }
      jQuery('#the-final-countdown div').html('<p class="text-white"><i class="ti-timer mr-2"></i>Esta oferta termina em <strong>'+hours+' : '+min+' : '+sec+'</span></strong></p>')
      }, 1000);
    </script>

    <hr />

    <h2 class="text-white"><small style="color: #ffffff8c">R$ 49,00</small></h2>


    <div id="the-final-countdown" class="my_countdown">
      <div></div>
    </div>
      <p><a class="btn btn-primary btn-large mb-2 mt-3" href="https://pay.hotmart.com/D66110367R?off=in79ux6s" role="button">
        Quero comprar agora!
      </a></p>
      <img src="/images/formas-pagamento-3.png"  alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
  </div>

</div>


{{- partial "row_professor.html" . -}}
