<section class="section-sm ">
  <div class="container bg-dark p-5">
  <div class="row ">
  <div class="col text-center mb-2 ">
    <h2 class="text-white ">Impressione amigos e familiares construindo uma guitarra pra lá de charmosa</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">01</p>
    <p class="text-white">Faça seu primeiro instrumento musical, gastando muito pouco</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">02</p>
    <p class="text-white">Entenda quais ferramentas comprar, como escolher e como economizar</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">03</p>
    <p class="text-white">Aprenda a utilizar materiais alternativos para construir instrumentos de corda</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">04</p>
    <p class="text-white">Entenda o projeto e conheça o passo a passo</p>
  </div>

</div>

<div class="row mb-5">
  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">05</p>
    <p class="text-white">Aprenda a usar ferramentas básicas de marcenaria</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">06</p>
    <p class="text-white">Aprenda as técnicas de corte, furação, fixação e acabamento</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">07</p>
    <p class="text-white">Saiba como cortar e definir o shape do braço</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">08</p>
    <p class="text-white">Aprenda a instalação elétrica e regulagem básica</p>
  </div>

</div>
</div>
</section>
