<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">É possível <em>ganhar mais de 5 mil reais por mês</em> fazendo móveis planejados?</h2>
  </div>
  <div class="col-md-6">
    <img src="/images/projeto-cozinha.gif" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-6">
    <p>Este projeto de cozinha, elaborado por uma arquiteta, foi orçado em R$ 15.830,00
      (<a href="/downloads/projeto-cozinha.pdf" class="text-primary" target="_blank">baixe aqui as especificações do projeto</a>,
      faça um orçamento e comprove o que estamos dizendo).</p>

    <p>Apenas a cozinha. Para executar o projeto completo, com 2 quartos, sala, 2 banheiros e área de serviço o total chega a 50 mil reais.</p>

    <p>E este foi o orçamento mais barato. Alguns marceneiros cobraram 70 mil reais para executar o mesmo projeto.</p>

    <p>Marceneiros normalmente fazem seus orçamentos multiplicando o valor do material gasto por 2, 3 ou até 4 vezes.
      Por isso um negócio de móveis planejados é tão lucrativo.</p>

    <p><strong>Fazer um ou dois cômodos por mês garante um faturamento maior que R$ 5.000,00</strong>.</p>
  </div>

</div><!-- mercado -->

<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">É possível faturar alto, mesmo <em>sem investir uma fortuna</em> em uma oficina?</h2>
  </div>
  <div class="col-md-6 offset-md-1">

    <p>Existe um segredo que os profissionais não querem que você saiba:
      <strong>você pode comprar os materiais cortados e acabados, economizando uma fortuna em equipamentos.</strong></p>

    <p>É claro que você precisa dominar as técnicas de marcenaria e saber:</p>
      <ul class="mb-3">
      <li class="mb-1">➡ como calcular os descontos</li>
      <li class="mb-1">➡ quais ferragens usar</li>
      <li class="mb-1">➡ as medidas padrão para diversos tipos de móveis</li>
      <li class="mb-1">➡ como planejar uma cozinha e outros ambientes</li>
      <li class="mb-1">➡ como fazer um plano de corte</li>
      </ul>

      <p>Mas você pode aprender tudo isso com a gente, usando poucas ferramentas, na sua própria casa.</p>

      <p>É isso que ensinamos em nossos cursos e é isso que garante o <strong>sucesso dos nossos mais de 5.500 alunos.</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/crescimento-vendas-moveis.jpg" width="100%"  class="mb-3" />
  </div>





</div><!-- potencial de ganho -->

<div class="row mb-3">
  <div class="col-12 mb-3 text-center">
    <h2 class="mb-3"><em>Do zero ao profissional</em> em 3 passos</h2>
  </div>

  <div class="col-md-8 offset-md-2">

    <h5>Passo 1</h5>
    <h3 class="text-primary">Aprenda a construir projetos pequenos</h3>

    <p>Como um bebê precisa aprende a engatinhar antes de andar e correr, você precisa aprender as técnicas de marcenaria básicas.</p>

    <p>A notícia boa é que você pode fazer isso e ganhar dinheiro ao mesmo tempo.</p>

    <p><a href="https://www.youtube.com/watch?v=PbkKidRrV3k" class="text-primary venobox vbox-item" data-vbtype="video">Veja o depoimento do Alain</a>,
      um de nossos alunos que começou a vender rapidinho.</p>

    <p>Você terá acesso a mais de 20 projetos de móveis em MDF com vários níveis de dificuldade,
      para conquistar a experiência que você precisa.</p>

    <p>E também terá acesso a aulas práticas e aprender a usar ferramentas manuais e elétricas com segurança e precisão.</p>
  </div>

  <div class="col-12 mb-3 text-center mt-3">
    <h3 class="mb-3">Veja o que você pode fazer e <em>vender com facilidade</em>, enquanto aprende marcenaria:</h3>

  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/maquiagem.jpg" width="100%"  class="mb-2" />
    <p><strong>Penteadeiras funcionais</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/cabeceira-led.jpg" width="100%"  class="mb-2" />
    <p><strong>Cabeceiras iluminadas</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/gabinete-banheiro.jpg" width="100%"  class="mb-2" />
    <p><strong>Gabinetes e gaveteiros</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/nicho-aparador.jpg" width="100%"  class="mb-2" />
    <p><strong>Nichos e aparadores</strong><br/>Potencial de ganho: até <em>4x o valor do material</em></p>
  </div>



  <div class="col-md-4">
    <img src="/images/poltrona-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Cadeiras de descanso</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
  </div>

  <div class="col-md-4">
    <img src="/images/banco-ripado.jpg" width="100%"  class="mb-3" />
    <p><strong>Banco de ripas</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
  </div>

  <div class="col-md-4">
    <img src="/images/adega-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Adega para vinhos</strong><br/>Potencial de ganho: até <em>3.5x o valor do material</em></p>
  </div>

  <div class="col-md-4">
    <img src="/images/sapateira-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Banco sapateira</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
  </div>

  <div class="col-md-4">
    <img src="/images/luminaria-veleiro.jpg" width="100%"  class="mb-3" />
    <p><strong>Luminaria de madeira e juta</strong><br/>Potencial de ganho: até <em>4x o valor do material</em></p>
  </div>

  <div class="col-md-8 offset-md-2 mt-3">

    <h5>Passo 2</h5>
    <h3 class="text-primary">Planeje e construa os móveis da sua casa</h3>

    <p>Praticar vai te dar a segurança para executar projetos mais ousados.

    <p>Você vai economizar muito dinheiro mobiliando seus cômodos e ainda vai transformar a sua casa em uma vitrine para o seu trabalho.</p>

    <p>Fazendo isso você descobre soluções para desafios comuns (paredes tortas, por exemplo)
      sem ter o risco de desapontar seus clientes ou perder material precioso.</p>

    <p>Nós damos todas as dicas e macetes em nossas aulas e ainda temos um grupo no Telegram para trocar experiências com a comunidade de alunos.</p>

    <p>Dica: se você puder contratar um arquiteto para fazer o projeto pra você, faça isso.
      Você vai aprender muito observando os detalhes de como ele trabalha e pode até fazer uma parceria comercial no futuro,
      recebendo indicações e oferecendo projetos mais elaborados para seus clientes.</p>


  </div>

  <div class="col-md-8 offset-md-2 mt-3">

    <h5>Passo 3</h5>
    <h3 class="text-primary">Ganhe dinheiro, fazendo móveis planejados</h3>

    <p>Agora você está pronto para ir para o mercado e conquistar clientes.</p>

    <p>Se você tem pouco espaço ou não deseja comprar máquinas grandes, você poderá terceirizar o corte e acabamento das peças.</p>

    <p>Se você tem espaço e deseja lucrar ainda mais, você pode fazer o processo do começo ao fim.</p>

    <p>É possível construir um negócio muito lucrativo do zero com as duas opções.</p>

    <p>Com a nossa ajuda você vai longe.</p>
  </div>

</div><!-- projetos -->


<div class="row mb-3">
  <div class="col-12 text-center mb-4 ">
    <h2 class="mb-3">Eles <em>começaram do zero</em> igual a você</h2>
    <h4 class="">E estão vivendo de marcenaria, fazendo bonito</h4>
    <p class="text-center">Confira abaixo as fotos que eles nos mandam</p>
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/mulheres/anna.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/mdf-04-v.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-rico-02.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-rico-05.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-vellani-02.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-vellani-03.jpg" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-2 col-6">
    <img src="/images/artes/aluno-05.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/aluno-01.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/aluno-06.jpg" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-2 col-6">
    <img src="/images/artes/aluno-04.jpg" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-2 col-6">
    <img src="/images/artes/aluno-10.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/aluno-08.jpg" width="100%"  class="mb-3" />
  </div>


  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-vellani-02.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/zero-01-v.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-rico-04.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/zero-02-v.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/plan-vellani-08.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2 col-6">
    <img src="/images/artes/criativa-05-v.jpg" width="100%"  class="mb-3" />
  </div>



</div><!-- social marcenaria -->

{{- partial "row_professor.html" . -}}


<!-- course details -->

<div class="row">
  <div class="col mb-4 text-center">
  <h2 class="">Inscreva-se hoje e <em>leve tudo isso</em></h2>
  </div>
</div>
<div class="row mb-5 card-deck">

<div class="col-lg-3 card text-center card-curso mb-2" style="z-index:10">
  <h3 class="text-center text-uppercase">Curso Online</h3>
      <img src="/small/t-planejados.jpg" width="100%"  class="mb-3" />
      <div class="card-body">
        <p>Aprenda seus próprios móveis sob medida, com qualidade e sem gastar rios de dinheiro</p>
        <p><a href="#collapsePlan" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapsePlan"  role="button" aria-expanded="false" aria-controls="collapsePlan">Programa do curso</a></p>
        {{- partial "curso_programa_planejados.html" . -}}
      </div>

  </div>

      <div class="col-lg-3 card text-center card-curso mb-2" style="z-index:10">
        <h3 class="text-center text-uppercase">Curso Online</h3>
      <img src="/small/thumb-marcenaria.jpg" width="100%"  class="mb-3" />
      <div class="card-body">
        <p>Ganhe dinheiro fazendo e vendendo móveis em casa, com poucas ferramentas</p>

        <p><a href="#collapseMzero" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseMzero"  role="button" aria-expanded="false" aria-controls="collapseMzero">Programa do curso</a></p>
        {{- partial "curso_programa_m20.html" . -}}
      </div>

  </div>

      <div class="col-lg-3 card text-center card-curso mb-2" style="z-index:10">
        <h3 class="text-center text-uppercase">Curso Online</h3>
      <img src="/images/thumbs/curso-sketchup.jpg" width="100%"  class="mb-3" />
      <div class="card-body">
        <p>Aprenda a projetar móveis e objetos no computador</p>
        <p><a href="#collapseTupia" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseTupia"  role="button" aria-expanded="false" aria-controls="collapseTupia">Programa do curso</a></p>
          {{- partial "curso_programa_tupia.html" . -}}
      </div>

  </div>

      <div class="col-lg-3 card text-center card-curso mb-2" style="z-index:10">
        <h3 class="text-center text-uppercase">Curso Online</h3>
      <img src="/small/t-ideias.jpg" width="100%"  class="mb-3" />
      <div class="card-body">
        <p>60 ideias para você ganhar dinheiro com marcenaria, sem sair de casa</p>
        <p><a href="#collapseClub" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseClub"  role="button" aria-expanded="false" aria-controls="collapseClub">Programa do curso</a></p>
        {{- partial "curso_programa_club.html" . -}}
      </div>

  </div>
</div>
<div class="row mb-5 card-deck">

      <div class="col-lg-3 card text-center card-curso mb-2" style="z-index:10">
        <h3 class="text-center text-uppercase">Curso Online</h3>
      <img src="/small/t-mdf-2.jpg" width="100%"  class="mb-3" />
      <div class="card-body">
        <p>23 projetos incríveis para você superar a crise e faturar R$ 5.000 por mês ou mais</p>
        <p><a href="#collapseMdf" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseMdf"  role="button" aria-expanded="false" aria-controls="collapseMdf">Programa do curso</a></p>
        {{- partial "curso_programa_mdf.html" . -}}
      </div>


</div>


<div class="col-lg-3 card text-center card-curso mb-2" style="z-index:9">
  <h3 class="text-center text-uppercase">Projetos Extras</h3>
  <div class="card-body">
    <img src="/images/bonus.gif" width="250px" class="mb-3" />
    <p class=""><strong>47 aulas bônus</strong> para você aprender ainda mais</p>
  </div>
</div>

<div class="col-lg-3 card text-center card-curso mb-2" style="z-index:8">
  <h3 class="text-center text-uppercase">6 e-books</h3>
  <div class="card-body">
    <img src="/images/ebooks.gif" width="250px" class="mb-3" />
    <p class=""> com planos de corte dos projetos e dicas extras para você imprimir</p>
  </div>
</div>

<div class="col-lg-3 card text-center card-curso mb-2" style="z-index:7">
  <h3 class="text-center text-uppercase">GRUPO SECRETO</h3>
  <div class="card-body">
    <img src="/images/ic-telegram.png" width="110px" height="110px" class="mb-3" />
    <p>Mais de 1700 marceneiros prontos para te ajudar</P>
  </div>
</div>


</div><!-- incluso -->
