<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}'); background-size: cover;" >
  <div class="container">

    <div class="row" >
      <!--div class="col-12 text-center mb-5">
          <a href="/ofertas/site/"><img src="/images/banner-natal.png " max-width="100%" /></a>
      </div-->
      <div class="col text-center">
        <!--h6 class="text-light text-uppercase">Curso online: {{ .Title  }}</h6-->
        <h2 class="text-primary text-uppercase">{{ .Params.Headline  }}</h2>
        <h3 class="text-white mb-4">{{ .Params.Subheadline }}</h3>
        <img src="{{ .Params.Projects_image | relURL}}" style="max-width: 100%"/>

        <p><a class="btn btn-danger btn-large mb-2 mt-3" href="{{ .Params.Apply_url | safeURL }}" role="button">
          Quero comprar!
        </a></p>
      </div>
    </div> <!-- end main -->
    <div class="row" >
          <div class="col">
            <p class="text-white text-center">Parcele em até {{ .Params.Preco_parcelado | safeURL }} no cartão</p>
          </div>

      </div><!-- end numbers -->
      <div class="row">
          <div class="col text-center">
          <img src="/images/formas-pagamento-2.png" width="465" hieght="40" alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
        </div>
      </div><!-- img forma de pagamento -->
    </div>
</section>
