    <!-- FAQ -->
    <div class="row mt-5 mb-5">
      <div class="col-xl-9">
        <h3 class="mb-4">Dúvidas Frequentes</h3>

        <div class="accordion" id="faq">

          <div class="card">
            <div class="card-header" id="faq-0">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  O curso tem certificado?
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="faq-0" data-parent="#faq">
              <div class="card-body">
                Sim! Após concluir o curso libera automaticamente seu certificado já preenchido na sua área de membros, basta você salvar e imprimir.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq-01">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#c-02" aria-expanded="true" aria-controls="c-02">
                  Que ferramentas preciso ter?
                </button>
              </h2>
            </div>

            <div id="c-02" class="collapse" aria-labelledby="headingOne" data-parent="#faq">
              <div class="card-body">
                <p><strong>Ferramentas e acessórios</strong></p>
                  <ul>
                  <li>Martelo</li>
                  <li>Arco de serra</li>
                  <li>Trena</li>
                  <li>Régua</li>
                  <li>Esquadro</li>
                  <li>Lápis</li>
                  <li>Serrote</li>
                  <li>Morsa (opcional)</li>
                  <li>Grampo de aperto rápido ou Grampos “C”</li>
                  <li>Plaina manual (opcional)</li>
                  <li>Grampo de aperto rápido ou Grampos C</li>
                  <li>Broca de 4, 6, 8 e 10 mm para madeira ou Ferro</li>
                  <li>Escariador (opcional)</li>
                  <li>Furadeira</li>
                  <li>Parafusadeira (opcional)</li>
                  <li>Serra tico tico (opcional)</li>
                  <li>Serra circular manual (opcional)</li>
                  <li>Lixadeira Orbital (opcional)</li>
                  <li>Lixas 60 / 100 / 240</li>
                  <li>Lâminas de Serra tico-tico para madeira (opcional)</li>
                  <li>Pincel ou rolo para tinta</li>
                  <li>Pé de cabra (opcional) Desmontar</li>
                  <li>Paletes</li>
                  <li>Talhadeira (opcional)</li>
                  </ul>
                  <p><strong>Equipamentos de proteção (EPIs)</strong></p>
                  <ul>
                  <li>Óculos de proteção</li>
                  <li>Máscara descartável para poeira</li>
                  </ul>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" id="faq-02">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c-03" aria-expanded="false" aria-controls="c-03">
                  Por quanto tempo terei acesso ao curso?
                </button>
              </h2>
            </div>
            <div id="c-03" class="collapse" aria-labelledby="headingTwo" data-parent="#faq">
              <div class="card-body">
                O curso fica disponível para você acessar e assistir às aulas quantas vezes quiser e a hora que quiser por tempo indeterminado. Seu acesso é vitalício.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faq-03">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c-04" aria-expanded="false" aria-controls="c-04">
                  Após o pagamento, quanto tempo demora para liberar o curso?
                </button>
              </h2>
            </div>
            <div id="c-04" class="collapse" aria-labelledby="headingThree" data-parent="#faq">
              <div class="card-body">
                Se o pagamento for realizado via cartão de crédito o acesso é liberado imediatamente após a aprovação da compra. Se for via boleto pode levar até 72 horas, mas se você mandar o comprovante a gente libera na hora.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faq-04">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c-05" aria-expanded="false" aria-controls="c-05">
                  Após o pagamento, quanto tempo demora para liberar o curso?
                </button>
              </h2>
            </div>
            <div id="c-05" class="collapse" aria-labelledby="headingThree" data-parent="#faq">
              <div class="card-body">
                Se o pagamento for realizado via cartão de crédito o acesso é liberado imediatamente após a aprovação da compra. Se for via boleto pode levar até 72 horas, mas se você mandar o comprovante a gente libera na hora.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faq-05">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c-06" aria-expanded="false" aria-controls="c-06">
                  Terei algum tipo de suporte para tirar dúvidas sobre as aulas?
                </button>
              </h2>
            </div>
            <div id="c-06" class="collapse" aria-labelledby="headingThree" data-parent="#faq">
              <div class="card-body">
                Sim! Nossos alunos elogiam diariamente nosso suporte, que é praticamente uma consultoria. Faça chuva ou faça sol o suporte estará sempre a sua disposição de segunda a sexta feira das 8:00 as 18:00 horas para responder todas as dúvidas.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faq-06">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c-07" aria-expanded="false" aria-controls="c-07">
                  Posso iniciar mesmo sem nenhum conhecimento na área?
                </button>
              </h2>
            </div>
            <div id="c-07" class="collapse" aria-labelledby="headingThree" data-parent="#faq">
              <div class="card-body">
                Com certeza! O curso foi desenvolvido para aqueles que não entendem nada do assunto , sendo assim você estará no lugar certo.
        Você vai aprender do zero tudo que precisa para se tornar um profissional na área, é um verdadeiro PASSO A PASSO desde a preparação do seu espaço de trabalho até a execução dos projetos mais complexos.
              </div>
            </div>

          </div>

        </div>
      </div>
    </div><!-- row -->
