
    <div class="collapse mt-3" id="collapseMdf">
    <h5><small class="text-light text-uppercase">Módulo 1</small><br/>Sala de estar</h5>
    <ul  class="list-unstyled  mb-4">
    <li>➡ Aparadores</li>
    <li>➡ Estantes</li>
    <li>➡ Poltronas</li>
    <li>➡ Painéis de TV</li>
    </ul>



      <h5><small class="text-light text-uppercase">Módulo 2</small><br/>Dormitório</h5>
    <ul  class="list-unstyled  mb-4">
    <li>➡ Criados Mudos</li>
    <li>➡ Cabeceiras</li>
    <li>➡ Aparador Camarim</li>
    <li>➡ Armário Porta Bijoux</li>
    <li>➡ Espehlo de corpo inteiro</li>
    </ul>



      <h5><small class="text-light text-uppercase">Módulo 3</small><br/>Dormitório Infantil</h5>
    <ul  class="list-unstyled  mb-4">
    <li>➡ Escrivaninha</li>
    <li>➡ Estante</li>
    <li>➡ Objetos de decoração</li>
    </ul>



      <h5><small class="text-light text-uppercase">Módulo 4</small><br/>Banheiro</h5>
    <ul  class="list-unstyled  mb-4">
    <li>➡ Armário com Rodinhas</li>
    <li>➡ Armário com dobradiças caneco</li>
    </ul>




  <h5><small class="text-light text-uppercase">Módulo 5</small><br/>Armário guarda-roupas</h5>
<ul  class="list-unstyled  mb-4">
<li>➡ Projeto</li>
<li>➡ Construção</li>
<li>➡ Montagem e acabamento</li>
</ul>



  <h5><small class="text-light text-uppercase">Módulo 6</small><br/>Diversos</h5>
<ul  class="list-unstyled  mb-4">
<li>➡ Organizador de Escritório</li>
<li>➡ Mesa dobrável com Estante</li>
<li>➡ Cavalete com regulagem</li>
<li>➡ Cabideiro</li>
<li>➡ Sapateira regulável</li>
</ul>



<h5>Bônus</h5>
<ul  class="list-unstyled  mb-4">
<li>➡ Lâminas de Tico-Tico para MDF</li>
<li>➡ Disco de Serra para Laminados</li>
</ul>

</div>
