<div class="row  mb-5 "  id="programa">
    <div class="col-12 ">
        <h2>Conheça o programa do curso</h2>
        <p>Olha só o que você vai aprender no curso de Luthieria</p>
    </div>
    <div class="col-4 mt-5">
      <h4>Ferramentas e Materiais necessários para fazer guitarras</h4>
      <img loading="lazy" src="/images/guitarra/g11.jpg" alt="Ferramentas Luthieria" title="G11" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Desenho e projeto de guitarras elétricas</h4>
      <img loading="lazy" src="/images/guitarra/g8.jpg" alt="G8" title="G8" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Como criar um Gabarito para o Corpo da suas guitarras</h4>
      <img loading="lazy" src="/images/guitarra/Tupia_corte-450x250-1.jpg" alt="" title="Tupia_corte" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Técnicas de corte do Corpo da Guitarra</h4>
      <img loading="lazy" src="/images/guitarra/corpo.jpg" alt="Corpo" title="Corpo" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Como abrir as cavidades para captadores e parte elétrica</h4>
      <img loading="lazy" src="/images/guitarra/Tupia_corte1-450x253-1.jpg" alt="" title="Tupia_corte1" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Como cortar e definir o shape do Braço</h4>
      <img loading="lazy" src="/images/guitarra/g4.jpg" alt="G4" title="G4" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Como cortar a escala do braço e&nbsp;aplicar os trastes</h4>
      <img loading="lazy" src="/images/guitarra/g10.jpg" alt="G10" title="G10" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Como fazer o Headstock e instalar as tarrachas</h4>
      <img loading="lazy" src="/images/guitarra/g9.jpg" alt="G9" title="G9" height="auto" width="100%" />
    </div>
    <div class="col-4 mt-5">
      <h4>Acabamento, instalação elétrica e regulagem do instrumento</h4>
      <img loading="lazy" src="/images/guitarra/g3.jpg" alt="G3" title="G3" height="auto" width="100%" />
    </div>

</div>
