<div class="row  mb-5 " id="depoimentos">

  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Antonio.jpg" alt="Marcenaria feita pelo aluno Antonio" title="Marcenaria feita pelo aluno Antonio" height="auto" width="100%" />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Rodrigo.jpg" alt="Marcenaria feita pelo aluno rodrigo" title="Marcenaria feita pelo aluno rodrigo" height="auto" width="100%"  />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Sormani.jpg" alt="Marcenaria feita pelo aluno sormani" title="Marcenaria feita pelo aluno sormani" height="auto" width="100%"  />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Waldir.jpg" alt="Marcenaria feita pelo aluno waldir" title="Marcenaria feita pelo aluno waldir" height="auto" width="100%"  />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Zenilton.jpg" alt="Marcenaria feita pelo aluno zenilton" title="Marcenaria feita pelo aluno zenilton" height="auto" width="100%"  />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Chris.jpg" alt="Marcenaria feita pelo aluno chris" title="Marcenaria feita pelo aluno chris" height="auto" width="100%"  />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Charles.jpg" alt="Marcenaria feita pelo aluno charles" title="Marcenaria feita pelo aluno charles" height="auto" width="100%"  />
  </div>
  <div class="col-3 mb-5 d-md-block d-none">
    <img src="/images/alunos/Aluno_Everton.jpg" alt="Marcenaria feita pelo aluno aluno everton" title="Marcenaria feita pelo aluno aluno everton" height="auto" width="100%"  />
  </div>

  <div id="carouselExampleIndicators" class="carousel slide d-md-none d-sm-block" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/alunos/Antonio.jpg" alt="Marcenaria feita pelo aluno Antonio" class="d-block w-100" title="Marcenaria feita pelo aluno Antonio" height="auto" width="100%" />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Rodrigo.jpg" alt="Marcenaria feita pelo aluno rodrigo" class="d-block w-100" title="Marcenaria feita pelo aluno rodrigo" height="auto" width="100%"  />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Sormani.jpg" alt="Marcenaria feita pelo aluno sormani" class="d-block w-100" title="Marcenaria feita pelo aluno sormani" height="auto" width="100%"  />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Waldir.jpg" alt="Marcenaria feita pelo aluno waldir" class="d-block w-100" title="Marcenaria feita pelo aluno waldir" height="auto" width="100%"  />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Zenilton.jpg" alt="Marcenaria feita pelo aluno zenilton" class="d-block w-100" title="Marcenaria feita pelo aluno zenilton" height="auto" width="100%"  />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Chris.jpg" alt="Marcenaria feita pelo aluno chris" class="d-block w-100" title="Marcenaria feita pelo aluno chris" height="auto" width="100%"  />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Charles.jpg" alt="Marcenaria feita pelo aluno charles" class="d-block w-100" title="Marcenaria feita pelo aluno charles" height="auto" width="100%"  />
      </div>
      <div class="carousel-item">
        <img src="/images/alunos/Aluno_Everton.jpg" alt="Marcenaria feita pelo aluno aluno everton" class="d-block w-100" title="Marcenaria feita pelo aluno aluno everton" height="auto" width="100%"  />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
