<div class="row" id="bonus">
    <div class="col-12 mb-3">
      <h3 class="text-center">E ainda tem mais estes… &nbsp;<em>BÔNUS</em> EXCLUSIVOS</h3>
		</div> <!-- .col -->

		<div class="col-md mb-4">
      <img src="/images/bonus-guia-compra.jpg" alt="Bonus Guia Compra" title="Bonus Guia Compra" height="auto" width="100%" />
      <p class="mt-3">Vídeos exclusivos pra ajudar a escolher o equipamento certo.</p>
    </div> <!-- .col -->
    <div class="col-md mb-4">
      <img src="/images/bonus-bancada-paletes.jpg" alt="Bonus Bancada Paletes" title="Bonus Bancada Paletes" height="auto" width="100%" />
			<p class="mt-3">Aulas em vídeo e apostila pra você montar sua bancada com painel de ferramentas.</p>
    </div> <!-- .col -->
    <div class="col-md mb-4">
      <img src="/images/bonus-aproveitando-madeiras.jpg" alt="Bonus Aproveitando Madeiras" title="Bonus Aproveitando Madeiras" height="auto" width="100%" />
      <p class="mt-3">Aprenda transformar madeiras rústicas e sobras em projetos inacreditáveis.</p>
    </div> <!-- .col -->
  </div> <!-- .row -->
<div class="row  mb-5 ">
    <div class="col-md mb-4">
      <img src="/images/bonus-projetos-paletes.jpg" alt="Bonus Projetos Paletes" title="Bonus Projetos Paletes" height="auto" width="100%" />
			<p class="mt-3">Projetos extras para decorar sua casa, usando paletes de madeira</p>
    </div> <!-- .col -->

		<div class="col-md mb-4">
      <img src="/images/bonus-cavaletes-e-bancadas.jpg" alt="Bonus Cavaletes E Bancadas" title="Bonus Cavaletes E Bancadas" height="auto" width="100%" />
			<p class="mt-3">10 possibilidades de bancada e cavaletes para sua oficina e escritório</p>
    </div> <!-- .col -->
    <div class="col-md mb-4">
      <img src="/images/transformar.jpg" alt="Transformar" title="Transformar" height="auto" width="100%" />
			<p class="mt-3">Enjoado dos seus móveis? Aprenda a transformar e renove sua casa.</p>
    </div> <!-- .col -->
</div> <!-- .row -->

<div class="row  mb-5 ">
  <div class="col-md-3 mb-3">
    <img src="/images/selo-garantia-15-dias-laranja.png" alt="Selo Garantia 15 Dias Laranja" title="Selo Garantia 15 Dias Laranja" height="auto" width="100%" />
    </div>

    <div class="col-md-9">
      <h2>Risco Zero!</h2>
      <p>Todos os nossos alunos tem 15 dias de GARANTIA para testar nosso conteúdo, garantindo a qualidade do curso que você está adquirindo.</p>
      <p>Você pode comprar este curso sem medo e estudar por 15 dias e se não gostar devolvemos 100% do seu dinheiro.&nbsp;</p>
      <p><strong>Aviso legal:</strong></p>
      <p>O propulsor de criatividade é uma metodologia testada e validada por centenas de alunos, tudo que é ensinado aqui já gerou resultados consistentes para nós, nossos alunos e nossos clientes. Porém como a aplicação depende do entendimento e disciplina do aluno os resultados podem variar de pessoa para pessoa.</p>

	   </div>
 </div>
