<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">Por que dominar a Tupia é o caminho mais rápido e acessível para elevar o nível da sua marcenaria?</h2>
  </div>

  <div class="col-md-4 ">
    <img src="/images/tupia-fresa.jpg" width="100%"  class="mb-3" />
    <h3>Uma máquina, <em>infinitas possibilidades</em></h3>
    <p>Existe uma variedade muito grande de fresas, que podem ser combinadas de inúmeras maneiras, aumentando suas possbilidades criativas.</p>
  </div>
  <div class="col-md-4 ">
    <img src="/images/tupia-acabamento.jpg" width="100%"  class="mb-3" />
    <h3>Melhor acabamento, <em>mais valor de venda</em></h3>
    <p>Bordas arredondadas deixam tudo mais elegante e sofisticado, permitindo que você cobre muito mais pelas suas criações.</p>
  </div>
  <div class="col-md-4 ">
    <img src="/images/tupia-produtividade.jpg" width="100%"  class="mb-3" />
    <h3>Mais produtividade, <em>mais tempo livre</em></h3>
    <p>A tupia faz em minutos o que você levaria horas para fazer de forma manual.
      Nós ainda te ensinaremos a criar jigs e gabaritos que vão acelerar ainda mais a sua produção.</p>
  </div>

</div><!-- mercado -->

{{- partial "row_experiencia.html" . -}}

<div class="row mb-3">
  <div class="col-12 text-center mb-4 ">
    <h2 class="mb-3">Eles <em>começaram do zero</em> igual a você</h2>
    <h4 class="">E estão vivendo de marcenaria, fazendo bonito</h4>
    <p class="text-center">Confira abaixo as fotos que eles nos mandam</p>
  </div>


  <div class="col-md-2">
    <img src="/images/artes/aluno-05.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-01.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-06.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-07.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-04.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-13.jpg" width="100%"  class="mb-3" />
  </div>

  

  <div class="col-md-2">
    <img src="/images/artes/aluno-02.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-03.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-09.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-11.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-14.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2">
    <img src="/images/artes/aluno-08.jpg" width="100%"  class="mb-3" />
  </div>

</div><!-- social marcenaria -->


<!-- course details -->

<div class="row">
  <div class="col mb-4 text-center">
  <h2 class="">Inscreva-se hoje e <em>leve tudo isso</em></p>
  </div>
</div>
<div class="row mb-5 card-deck">

<div class="col-md-4 card text-center card-curso mb-2" style="z-index:10">
  <h3 class="text-center text-uppercase"> Curso Online</h3>
      <img src="/small/thumb-marcenaria.jpg" width="100%"  class="mb-3" />
      <div class="card-body">
        <p>Um curso para quem quer fazer móveis do ZERO com poucas ferramentas</p>
        <p><a href="#collapseMzero" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseMzero"  role="button" aria-expanded="false" aria-controls="collapseMzero">Programa do curso</a></p>
        {{- partial "curso_programa_m20.html" . -}}
      </div>
</div>

<div class="col-md-4 card text-center card-curso mb-2" style="z-index:10">
  <h3 class="text-center text-uppercase">Curso Online</h3>
  <img src="/small/t-mdf-2.jpg" width="100%"  class="mb-3" />

  <div class="card-body">
    <p>23 projetos incríveis para você superar a crise e faturar R$ 5.000 por mês ou mais</p>
    <p><a href="#collapseMdf" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseMdf"  role="button" aria-expanded="false" aria-controls="collapseMdf">Programa do curso</a></p>
    {{- partial "curso_programa_mdf.html" . -}}
  </div>


</div>

<div class="col-lg-4 card text-center card-curso mb-2" style="z-index:10">
  <h3 class="text-center text-uppercase">Curso Online</h3>
  <img src="/small/t-tupia.jpg" width="100%"  class="mb-3" />
  <div class="card-body">
    <p>Eleve o nível da sua marcenaria e ganhe muito mais dinheiro</p>
    <p><a href="#collapseTupia" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseTupia"  role="button" aria-expanded="false" aria-controls="collapseTupia">Programa do curso</a></p>
    {{- partial "curso_programa_tupia.html" . -}}
  </div>

</div>

</div>
<div class="row mb-5 card-deck">


<div class="col-md-4 card text-center card-curso mb-2" style="z-index:9">
  <h3 class="text-center text-uppercase">Projetos Extras</h3>
  <div class="card-body">
    <img src="/images/bonus.gif" width="250px" class="mb-3" />
    <p class=""><strong>47 aulas bônus</strong> para você aprender ainda mais</p>
  </div>
</div>



<div class="col-md-4 card text-center card-curso mb-2" style="z-index:8">
  <h3 class="text-center text-uppercase">6 e-books</h3>
  <div class="card-body">
    <img src="/images/ebooks.gif" width="250px" class="mb-3" />
    <p class=""> com planos de corte dos projetos e dicas extras para você imprimir</p>
  </div>
</div>

<div class="col-md-4 card text-center card-curso mb-2" style="z-index:7">
  <h3 class="text-center text-uppercase">GRUPO SECRETO</h3>
  <div class="card-body">
    <img src="/images/ic-telegram.png" width="110px" height="110px" class="mb-3" />
    <p>Mais de 1700 marceneiros prontos para te ajudar</P>
  </div>
</div>


</div><!-- incluso -->
