    <!-- FAQ -->
    <div class="row mt-5 mb-5">
      <div class="col-xl-9">
        <h3 class="mb-4">Dúvidas Frequentes</h3>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  O curso tem certificado?
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Sim! Após concluir o curso libera automaticamente seu certificado já preenchido na sua área de membros, basta você salvar e imprimir.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Por quanto tempo terei acesso ao curso?
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                O curso fica disponível para você acessar e assistir às aulas quantas vezes quiser e a hora que quiser por tempo indeterminado. Seu acesso é vitalício.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Após o pagamento, quanto tempo demora para liberar o curso?
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Se o pagamento for realizado via cartão de crédito o acesso é liberado imediatamente após a aprovação da compra. Se for via boleto pode levar até 72 horas, mas se você mandar o comprovante a gente libera na hora.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Após o pagamento, quanto tempo demora para liberar o curso?
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Se o pagamento for realizado via cartão de crédito o acesso é liberado imediatamente após a aprovação da compra. Se for via boleto pode levar até 72 horas, mas se você mandar o comprovante a gente libera na hora.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Terei algum tipo de suporte para tirar dúvidas sobre as aulas?
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Sim! Nossos alunos elogiam diariamente nosso suporte, que é praticamente uma consultoria. Faça chuva ou faça sol o suporte estará sempre a sua disposição de segunda a sexta feira das 8:00 as 18:00 horas para responder todas as dúvidas.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Posso iniciar mesmo sem nenhum conhecimento na área?Posso iniciar mesmo sem nenhum conhecimento na área?
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Com certeza! O curso foi desenvolvido para aqueles que não entendem nada do assunto , sendo assim você estará no lugar certo.
        Você vai aprender do zero tudo que precisa para se tornar um profissional na área, é um verdadeiro PASSO A PASSO desde a preparação do seu espaço de trabalho até a execução dos projetos mais complexos.
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- row -->
