<div class="row text-center mb-5">

  <div class="col-md-4">
    <img src="/images/saw-icon.png"  width="112" height="119" class="mb-3"  />
    <p>90 projetos que não exigem muito esforço para te ensinar TODAS as habilidades que você precisa para se tornar um marceneiro.</p>
  </div>

  <div class="col-md-4">
    <img src="/images/video-icon.png"  width="119" height="119" class="mb-3" />
    <p>Passo-a-passo detalhado em vídeo de alta qualidade, informações sobre ferramentas, planos de corte, projetos em 3D e lista de materiais.</p>
  </div>

  <div class="col-md-4">
    <img src="/images/members-icon.png"  width="112" height="119" class="mb-3" />
    <p>Mais de 5.000 alunos satisfeitos (muitos nunca tinham encostado em um serrote antes) e milhares de projetos construídos.</p>
  </div>
</div><!-- end row -->

<div class="row mb-5">
  <div class="col-8 mb-3 offset-2">
    <h6 class="text-center text-secondary">Apresentando o curso...</h6>
    <h2 class="text-center text-uppercase">Marcenaria do Zero</h2>
    <h4 class="text-center text-secondary">Aprenda a fazer peças únicas e exclusivas, com poucas ferramentas e sem esforço físico</h4>
  </div>

  <div class="col-md-8 offset-2">
    <p>Um curso de marcenaria completo, <strong>para quem deseja fazer belas peças de madeira para sua casa, em seu tempo livre</strong>.

    <p>Juntos, vamos cobrir todos os aspectos da marcenaria, da escolha dos materiais a definição dos projetos, incluindo a organização do espaço de trabalho, como comprar ferramentas com economia, técnicas de corte, união e acabamento para finalizar suas peças com estilo e sofisticação.</p>

    <p><strong>Como esse curso é estruturado</strong></p>

    <p>O Marcenaria do Zero, é um programa que introduz iniciantes completos na marcenaria e é uma chance de afiar suas habilidades, caso você já tenha alguma experiência, tudo isso colocando a mão na massa e fazendo projetos impressionantes.</p>

    <p>As aulas são progressivas e detalhadas, feitas para te ajudar a desenvolver as técnicas e o pensamento crítico até que você consiga construir qualquer coisa com madeira.</p>

    <p class="text-center"><a class="btn btn-danger btn-large mb-2 mt-3 " href="#oferta" role="button">
    Comece agora mesmo
    </a></p>
  </div>

</div><!-- o curso -->
<div class="row mb-5">
  <div class="col-8 mb-3 offset-2">
    <h2 class="text-center">Projetos para iniciantes, <em>que não parecem ter sido feitos por iniciantes</em></h2>
    <h4 class="text-center text-secondary">Veja o que você vai aprender a fazer</h4>
  </div>
  <div class="col-md-4">
    <img src="/images/poltrona-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Cadeiras de descanso</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/banco-ripado.jpg" width="100%"  class="mb-3" />
    <p><strong>Banco de ripas</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/vintage.jpg" width="100%"  class="mb-2" />
    <p><strong>Criado mudo vintage</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/sapateira-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Banco Sapateira</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/luminaria-veleiro.jpg" width="100%"  class="mb-3" />
    <p><strong>Luminaria de Madeira e Juta</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/banco-rustico-jardim.jpg" width="100%"  class="mb-2" />
    <p><strong>Banco com madeira rústica</strong></p>
  </div>


</div>

<div class="row mb-5 bg-danger p-3 pt-5">
  <div class="col-md-8 mb-3">
    <h2 class="">Seja um aluno Oficina de Casa e <em>aprenda marcenaria do zero</em>, sem sair de casa.</h2>

  </div>

  <div class="col-md-4">
    <p><a href="#oferta" class="btn btn-primary btn-large mb-2 mt-3">Comece por apenas 12x 24,90</a></p>
  </div>

</div><!-- mercado -->

<div class="row mb-3">





  <div class="col-md-4 mb-3">
    <img src="/images/artes/carretinha-bike.jpg" width="100%"  class="mb-2" />
    <p><strong>Carretinha para bicicleta</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/cabeceira-botone.jpg" width="100%"  class="mb-2" />
    <p><strong>Cabeceira de botonê</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/brinquedos.jpg" width="100%"  class="mb-2" />
    <p><strong>Brinquedos</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/banco-dobravel.jpg" width="100%"  class="mb-2" />
    <p><strong>Banco desmontável</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/bandeja-marchetaria.jpg" width="100%"  class="mb-2" />
    <p><strong>Bandeja de marchetaria</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/bike.jpg" width="100%"  class="mb-2" />
    <p><strong>Bicicleta de equilíbrio</strong></p>
  </div>


  <div class="col-md-6">
    <h3 class="text-primary">Mesas de jantar</h3>

    <p>Visite uma loja de móveis e você vai perceber que mesas de jantar podem chegar a preços bem altos. E algumas delas nem têm tanta qualidade assim.</p>
    <p><strong>Você pode fazer essa mesa <em>gastando muito pouco.</em></strong></p>
    <img src="/images/mesa-paletes.jpg" width="100%"  class="mb-3" />

    <p>Acredita que ela foi feita com paletes de pinus? <strong>Paletes são muito baratos</strong> e, quando usados com inteligência,
      podem se transformar em <strong>móveis lindos e lucrativos</strong>.<p>
    <p>No nosso curso você vai aprender o <strong>passo a passo completo</strong> para fazer essa mesa.</p>
  </div>
  <div class="col-md-6">
    <h3 class="text-primary">Cadeiras</h3>

    <p>Cadeiras também têm um valor agregado alto, principalmente quando são feitas com estilo.</p>
    <p><strong>Conforto e durabilidade</strong> são diferenciais que podem justificar um <em>valor mais alto de venda</em>.</p>
    <img src="/images/cadeiras-paletes.jpg" width="100%"  class="mb-3" />
    <p>Estas cadeiras também são feitas com madeira de paletes. Note que a cadeira de baixo usa uma técnica sofisticada para curvar a madeira, conferindo um estilo único que valoriza o design.</p>
    <p><strong>Você vai aprender esta técnica e muitas outras</strong>, para se tornar um marceneiro de mão cheia.<p>

  </div>

</div><!-- projetos -->

<div class="row bg-light p-3 pt-5 mb-5">
  <div class="col-8 mb-5 offset-2">
    <h3 class="text-center ">O que você leva em <em>todo curso do Oficina de Casa</em></h3>
  </div>

  <div class="col-6">
    <h5>Projetos passo a passo</h5>
    <p>Nos meus vídeos do youtube, eu não tenho a chance de passar todos os detalhes (porque iria levar muito tempo). Aqui no curso, você vai acompanhar todos os detalhes comigo explicando o que estou fazendo e porque estou fazendo. Assim, não ficará nenhuma dúvida. É como se você estivesse na oficina comigo.</p>

  </div>

  <div class="col-6 mb-5">
    <img src="/images/display.webp" />
  </div>

  <div class="col-6  mb-5">
    <img src="/images/planos-paletes.webp" />
  </div>

  <div class="col-6">
    <h5>Planos de corte em PDF</h5>
    <p>
Eu me preocupei bastante em criar projetos que fizessem sentido. Porque, vamos falar sério, a maioria dos pdfs na internet não prestam pra muita coisa. Separado, cada plano de corte com essa qualidade poderia ser vendido por R$100,00. Eu investi meu tempo pessoal para garantir que estes planos de corte facilitem a sua vida na hora de realizar seu projeto.
</p>

  </div>

  <div class="col-6">
    <h5>Guia de compra e uso de 14+ ferramentas e máquinas</h5>
    <p>
Sempre que eu uso uma nova ferramenta eu explico como ela funciona e como tirar o melhor proveito dela. Também compartilho dicas secretas que aprendi em mais de 30 anos na oficina. Para facilitar, compilei as principais informações em um e-book, que você pode imprimir e usar sempre que tiver alguma dúvida. Esse e-book sozinho vai te ajudar a economizar milhares de reais na compra de equipamentos.
</p>

  </div>
  <div class="col-6 mb-5">
    <img src="/images/ebook-maquinas.webp" />
  </div>
  <div class="col-6 mb-5">
    <img src="/images/projetos/tecnicas.webp" />
  </div>

  <div class="col-6">
    <h5>Mais de 20 técnicas, passo a passo</h5>
    <p>
Antes de começarmos a cortar, furar ou lixar, eu vou te mostrar exatamente como fazer. Você vai aprender tudo no detalhe, com uma didática muito cuidadosa. Chega de assistir vídeos no youtube e tentar adivinhar a técnica por tentativa e erro.
</p>

  </div>

  <div class="col-6">
    <h5>Jigs e gabaritos para te ajudar a fazer mais e melhor</h5>
    <p>
Marcenaria de qualidade exige precisão. Por isso, vamos construir ferramentas auxiliares que garantem cortes retos e precisos (os Jigs) e que permitem recriar peças com precisão (gabaritos). Seu trabalho vai parecer profissional, mesmo que você não tenha a mão muito firme.
</p>

  </div>

  <div class="col-6 mb-5">
    <img src="/images/projetos/jigs.webp" />
  </div>

  <div class="col-6 mb-5">
    <img src="/images/projetos/acabamentos.webp" />
  </div>

  <div class="col-6">
    <h5>Acabamentos feitos com simplicidade</h5>
    <p>
Você não precisa ter medo de acabamentos! A cada projeto eu vou te mostrar uma técnica de acabamento diferente, elevando o nível da sua técnica naturalmente. Para você não se perder mais entre as milhares de opções do mercado, eu vou te dar a dica certa com os produtos que eu mais gosto de usar.
</p>

  </div>





</div><!-- o que leva -->





<div class="row mb-3">
  <div class="col-12 text-center mb-4 ">
    <h2 class="mb-3">Eles <em>começaram do zero</em> igual a você</h2>

  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/anna.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/bats.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/cris.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/salles.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/maurinha.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/sandromoreno.jpg" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-02.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-01.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-08.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-07.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-04.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-13.jpg" width="100%"  class="mb-3" />
  </div>



</div><!-- social marcenaria -->



<!-- course details -->

<div class="row mb-5 " id="oferta">

  <div class="col-lg-6 offset-lg-3 pb-3 pl-5 pr-5 card card-cta text-center bg-danger ">
    <h2 class="text-center text-uppercase text-white">Leve 4 CURSOS, Pague 1</h2>
    <hr/>
    <h2 class="text-white"><small style="color: #ffffffc5">Apenas 12x R$ 24,90</small></h2>

    <hr/>
      <h4 class="text-white">O QUE ESTÁ INCLUSO:</h4>

    <p class="text-white mb-1 text-left"><strong><span class="text-primary">➡</span> Como montar sua oficina SEM gastar uma fortuna</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Como aproveitar espaços pequenos</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Como escolher, comprar e usar as melhores ferramentas</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Quais os materiais mais econômicos e lucrativos</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Como fazer mesas e cadeiras DO ZERO, mesmo sem experiência</strong></p>

    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Como fazer cortes precisos usando jigs e gabaritos</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Técnicas de acabamento de dar inveja </strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">➡</span> Tudo sobre lâminas e serras (tico-tico e cirular) </strong></p>
    <p class="text-white mb-1 text-left"><strong><span class="text-primary">+</span> <em>E-BOOK</em> com tudo que você precisa saber para comprar e usar máquinas elétricas</strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">+</span> <em>CURSO BÔNUS:</em> 60 projetos extras para ganhar ainda mais </strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">+</span> <em>CURSO BÔNUS:</em> 23 projetos usando MDF, incluindo um guarda roupas </strong></p>
    <p class="text-white mb-1  text-left"><strong><span class="text-primary">+</span> <em>CURSO BÔNUS:</em> Segredos e técnicas da Tupia </strong></p>

      <p><a class="btn btn-primary btn-large mb-2 mt-3" href="https://pay.hotmart.com/T61982749K?off=1euypaih&checkoutMode=10&split=12" role="button">
       Compre agora!
      </a></p>
      <p class="text-white">15 dias de garantia, sem burocracia</p>
      <img src="/images/formas-pagamento-3.png"  alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
  </div>

</div>
