<div class="row pt-5 mb-5 bg-light" >
  <div class="col-12 text-center  mb-5">
    <h2 class="text-center text-primary text-uppercase">{{ .Params.Bonus }}</h2>
    <h3>Veja o que você leva nesta promoção!</h3>
  </div>

    {{ if or (eq .RelPermalink "/cursos/luthieria/") (eq .RelPermalink "/cursos/moveis-palete/") }}
      {{- partial "cta_tupia.html" . -}}
      {{- partial "cta_cigar.html" . -}}
    {{ else if eq .RelPermalink "/cursos/tupia/" }}
        {{- partial "cta_tupia.html" . -}}
    {{ else if eq .RelPermalink "/cursos/marcenaria-criativa/" }}
      {{- partial "cta_club.html" . -}}
      {{- partial "cta_3cursos.html" . -}}
    {{ else if eq .RelPermalink "/cursos/moveis-planejados/" }}
      {{- partial "cta_mdf.html" . -}}
    {{ else if ( eq .Section "ofertas" ) }}
      {{- partial "cta_3cursos.html" . -}}
    {{ else }}
      {{- partial "cta_3cursos.html" . -}}
    {{ end }}

  <div class="col-12 text-center ">

    <p><a class="btn btn-danger btn-large mb-2" href="{{ .Params.Apply_url | safeURL }}" role="button">
      Compre já, por apenas {{ .Params.preco_a_vista }}
    </a></p>

    <script type="text/javascript">
      setInterval(function time(){
      var d = new Date();
      var hours = 24 - d.getHours();
      var min = 60 - d.getMinutes();
      if((min + '').length == 1){
        min = '0' + min;
      }
      var sec = 60 - d.getSeconds();
      if((sec + '').length == 1){
            sec = '0' + sec;
      }
      jQuery('#the-final-countdown div').html('<p class="text-danger"><i class="ti-timer mr-2"></i>Esta oferta termina em <strong>'+hours+' : '+min+' : '+sec+'</span></strong></p>')
      }, 1000);

    </script>
    <div id="the-final-countdown" class="my_countdown">
      <div></div>
    </div>

  </div>
</div>
