<div class="row  mb-5 ">
    <div class="col-12 ">
        <h2>Conheça o programa do curso</h2>
        <p>Olha só o que você vai aprender no curso Marcenaria em Casa 2.0</p>
    </div>


<div class="col-3"><h4>Organização e Materiais Básicos</h4>
<ol class="list-unstyled">
<li>➡ Organizando seu espaço de trabalho</li>
<li>➡ Ferramentas básicas</li>
<li>➡ Ferramentas opcionais</li>
<li>➡ Materiais</li>
<li>➡ A Madeira de Pinus (palete)</li>
<li>➡ Exercício: como fazer uma luminária</li>
<li>➡ Exercício: como fazer uma mesa de apoio</li>
</ol></div>

<div class="col-3 mb-5"><h4>Como fazer uma mesa usando paletes</h4>
<ol class="list-unstyled">
<li>➡ Ergonomia de Design</li>
<li>➡ Projeto: mesa de jantar</li>
<li>➡ Como desmontar o palete para aproveitar a madeira</li>
<li>➡ Como fazer o tampo da mesa</li>
<li>➡ Como planejar para cortar as peças</li>
<li>➡ Como montar as pernas da mesa</li>
<li>➡ Finalização da mesa</li>
</ol></div>

<div class="col-3 mb-5"><h4>Técnicas Avançadas de Marcenaria</h4>
<ol class="list-unstyled">
<li>➡ Arremates</li>
<li>➡ Calafetação</li>
<li>➡ Lixamento</li>
<li>➡ Tipos de acabamento</li>
<li>➡ Preparação de Gabaritos</li>
<li>➡ Corte com jigs para serrote</li>
<li>➡ Corte com Jig e serra circular</li>
<li>➡ Como curvar madeira usando serrote</li>
<li>➡ Como finalizar com stain (2 tipos)</li>
</ol></div>

<div class="col-3 mb-5"><h4>Como fazer cadeiras usando paletes</h4>
<ol class="list-unstyled">
<li>➡ Projeto, ergonomia e design das cadeiras</li>
<li>➡ Como cortar as peças da cadeira</li>
<li>➡ Como montar estrutura e pernas da cadeira</li>
<li>➡ Preparação das peças para acabamento</li>
<li>➡ Arremates efinalização</li>
<li>➡ Dicas de aproveitamento</li>
</ol></div>




<div class="col-3 mb-5"><h4>Como fazer uma bancada usando paletes</h4>
<ol class="list-unstyled">
<li>➡ Projeto e planejamento</li>
<li>➡ Como montar a estrutura da bancada</li>
<li>➡ Como fazer um painel de ferramentas</li>
<li>➡ Acabamento da bancada&nbsp;</li>
<li>➡ Acessórios para o painel de ferramentas</li>
</ol>
</div>

<div class="col-3 mb-5"><h4>Como cortar madeira como um profissional</h4>
<ol class="list-unstyled">
<li>➡ Serra circular</li>
<li>➡ Gabaritos de corte</li>
<li>➡ Serra Tico-Tico</li>
<li>➡ Tudo sobre as Lâminas para Tico-Tico</li>
<li>➡ Dicas e Macetes para um corte perfeito</li>
<li>➡ Como escolher: Tico-tico, parafusadeira e serra circular</li>
<li>➡ Dicas para arredondar cantos</li>
<li>➡ Como fazer encaixe meia madeira</li>
<li>➡ Como fazer um plano de corte</li>
<li>➡ Instrumentos de medição e marcação</li>
</ol>
</div>

<div class="col-3 mb-5"><h4>Aprenda mais Móveis com paletes ou pinus</h4>
<ol class="list-unstyled">
<li>➡ Poltrona de madeira</li>
<li>➡ Estante de paletes</li>
<li>➡ Colméia para vinhos com paletes</li>
<li>➡ Como fazer um painel para a colméia</li>
<li>➡ Painel para ferramentas com Pinus</li>
<li>➡ Como aproveitar sobras de paletes</li>
<li>➡ Estante porta vinhos e taças</li>
<li>➡ Gaveteiro com gavetas recicladas</li>
</ol></div>

</div>
