<div class="row  mb-5 " id="programa">
    <div class="col-12 mb-3">
        <h3>Conheça o programa do curso</h3>
        <p>Olha só o que você vai aprender no curso Segredos & Técnicas da Tupia</p>
    </div>

    <div class="col-md-4 mb-5">
      <h5>Quais os tipos de tupia e fresas e como usar</h5>
        <img src="/images/tupia/tipos-tupia.jpg" alt="Tipos Tupia e fresas" title="Tipos Tupia e fresas" height="auto" width="100%" />
        </div>


        <div class="col-md-4 mb-5">
          <h5>Como fazer &amp; usar sua bancada para tupia&nbsp;</h5>
          <img src="/images/tupia/Bancada_tupia.jpg" alt="Bancada para tupia, como fazer" title="Bancada para tupia, como fazer" height="auto" width="100%"/>
        </div>

        <div class="col-md-4 mb-5">
          <h5>Jigs especiais para aumentar a qualidade e a produtividade</h5>
          <img src="/images/tupia/JigCircpreview-1.jpg" alt="Jig Cirular Tupia" title="Jig Cirular Tupia" height="auto" width="100%" />
        </div>

        <div class="col-md-4 mb-5">
          <h5>Como fazer molduras com fresas combinadas</h5>
          <img src="/images/tupia/molduras.jpg" alt="Moldura com fresas combinadas" title="Moldura com fresas combinadas" height="auto" width="100%" />
        </div>

        <div class="col-md-4 mb-5"><h5>Como criar guias para usar na sua Bancada</h5>
          <img src="/images/tupia/guias.jpg" alt="Bancada para tupia" title="Bancada para tupia" height="auto" width="100%" />
        </div>

        <div class="col-md-4 mb-5"><h5>Gabaritos diversos para rebaixos e canaletas</h5>
          <img src="/images/tupia/gabaritos.jpg" alt="Jig para Aplainar" title="Jig para Aplainar" height="auto" width="100%" />
        </div>

</div>
