<div class="row mb-5">
  <div class="col-12 col-lg-9 mb-4 content">
    <h3>Incluso Apostilas e Planos de corte com todas as medidas</h3>
    <p>Veja abaixo alguns exemplos dos planos de corte e informações adicionais.</p>
  </div>
  <div class="col">
    <img src="/images/tupia-plano-01.jpg" alt="Plano de corte mesa de tupia" title="Plano de corte mesa de Tupia" height="auto" width="auto" />
  </div>
  <div class="col">
    <img src="/images/plano-02.jpg" alt="Exemplo de plano de corte incluso no curso" title="Plano de corte exemplo" height="auto" width="auto" />
  </div>
  <div class="col">
    <img src="/images/plano-03.jpg" alt="exemplo de página da apostila" title="Exemplo da página das apostilas" height="auto" width="auto" />
  </div>
</div>
