<div class="row  mb-5 " id="programa">

      <div class="col-12 mb-3">
          <h3 class="text-uppercase"><small class="text-primary">Programa do curso</small><br/>
          Móveis em MDF</h3>
      </div>


  <div class="col-md-3 mb-5 ">
      <h5><small class="text-light text-uppercase">Módulo 1</small><br/>Sala de estar</h5>
    <ul  class="list-unstyled">
    <li>➡ Aparadores</li>
    <li>➡ Estantes</li>
    <li>➡ Poltronas</li>
    <li>➡ Painéis de TV</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">

      <h5><small class="text-light text-uppercase">Módulo 2</small><br/>Dormitório</h5>
    <ul  class="list-unstyled">
    <li>➡ Criados Mudos</li>
    <li>➡ Cabeceiras</li>
    <li>➡ Aparador Camarim</li>
    <li>➡ Armário Porta Bijoux</li>
    <li>➡ Espehlo de corpo inteiro</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">

      <h5><small class="text-light text-uppercase">Módulo 3</small><br/>Dormitório Infantil</h5>
    <ul  class="list-unstyled">
    <li>➡ Escrivaninha</li>
    <li>➡ Estante</li>
    <li>➡ Objetos de decoração</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">

      <h5><small class="text-light text-uppercase">Módulo 4</small><br/>Banheiro</h5>
    <ul  class="list-unstyled">
    <li>➡ Armário com Rodinhas</li>
    <li>➡ Armário com dobradiças caneco</li>
    </ul>

  </div>
<div class="col-md-3 mb-5 ">


  <h5><small class="text-light text-uppercase">Módulo 5</small><br/>Armário guarda-roupas</h5>
<ul  class="list-unstyled">
<li>➡ Projeto</li>
<li>➡ Construção</li>
<li>➡ Montagem e acabamento</li>
</ul>

</div>
<div class="col-md-3 mb-5 ">

  <h5><small class="text-light text-uppercase">Módulo 6</small><br/>Diversos</h5>
<ul  class="list-unstyled">
<li>➡ Organizador de Escritório</li>
<li>➡ Mesa dobrável com Estante</li>
<li>➡ Cavalete com regulagem</li>
<li>➡ Cabideiro</li>
<li>➡ Sapateira regulável</li>
</ul>

</div>
<div class="col-md-3 mb-5 ">

<h5>Bônus</h5>
<ul  class="list-unstyled">
<li>➡ Lâminas de Tico-Tico para MDF</li>
<li>➡ Disco de Serra para Laminados</li>
</ul>

</div>


</div>
