<div class="row mb-5">
  <div class="col-12 mb-3">
    <h2 class="text-center">Você não precisa mais se matar de trabalhar, em jornadas longas e longe de casa</h2>
  </div>
  <div class="col-md-4 offset-md-1">
    <img src="/images/crescimento-vendas-moveis.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-5">
    <p>Se você já não aguenta mais dirigir por longas horas para empatar as contas no fim do mês, não se preocupe:</p>

    <p><strong>É COMPLETAMENTE POSSÍVEL GANHAR DINHEIRO SEM SAIR DE CASA, SE DEDICANDO POUCAS HORAS POR DIA!</strong></p>

    <p>Isso pode parecer contraditório nessa crise que parece não ter fim, mas acredite: é possível ter um negócio muito lucrativo investindo pouco.</p>
  </div>
  <div class="col-12 bg-danger pt-3 pb-2">
    <h3 class="text-center text-white">Como? Simples: aprendendo a fazer móveis que dão LUCRO de verdade!</h3>
  </div>

</div><!-- mercado -->

<div class="row mb-5">
  <div class="col-5 mb-3 bg-light p-5">
    <h2 class="">SIM! Móveis de palete são extremamente lucrativos e as pessoas adoram!</h2>
    <p>Entenda o porquê</p>
  </div>

  <div class="col-md-7">
    <p>Existe um mito no mercado que móveis de palete não são valorizados.</p>
    <p>Isso pode parecer verdade, mas tem um porém...</p>
    <p><strong>Lojas conceituadas, lucram UMA FORTUNA, vendendo produtos de qualidade inferior aos que <em>VOCÊ PODE FACILMENTE FAZER</em>.</strong></p>
    <p>É isso aí. A grande maioria dos móveis vendidos por marcas badaladas utilizam a mesma madeira usada nos paletes: o pinus. Porém, elas capricham no design e economizam na construção cobrando caro por produtos de baixa durabilidade.</p>
    <p><strong>Mas se você tiver um projeto inovador, resistente e ao mesmo tempo fácil de fazer, você pode impressionar pessoas e fechar uma venda com muito mais facilidade.</strong></p>
  </div>

</div><!-- mercado -->


<div class="row mb-5">
  <div class="col-5 mb-3 ">
    <h2 class="">Como é possível lucrar 200% ou mais, fazendo móveis?</h2>
    <p>Você vai precisar de três pontos:</p>
  </div>

  <div class="col-md-7">
    <p><strong>1 - um projeto vencedor</strong></br>
      Fazer móveis que impressionam é mais fácil do que se imagina, porque a maioria das pessoas não conhecem os segredos da sua fabricação. </p>
    <p><strong>2 - um espaço pequeno para montar sua oficina</strong></br>
      Pode ser uma garagem ou até mesmo um quartinho de fundo. Você só precisa de uma bancada firme e algumas ferramentas básicas para começar.</p>
    <p><strong>3 - matéria prima boa e barata</strong></br>
      Com 6 paletes, que custam em média 35 reais, você pode fazer uma mesa de jantar e 4 cadeiras. Lembre-se que toda casa precisa de mesas, cadeiras e outros objetos: o mercado é gigante!</p>
  </div>

</div><!-- mercado -->

<div class="row mb-5 p-5 bg-primary">
  <div class="col-6">
    <h2 class="">Usar paletes e madeiras rústicas é a estratégia ideal para quem quer multiplicar por 3x ou mais o investimento em material</h2>

  </div>

  <div class="col-md-6">
    <p>Ou seja, usar pinus dos paletes para fazer mesas, cadeiras e outros objetos é a estratégia ideal para quem deseja multiplicar seu dinheiro rápido.
</p>
    <p>Em um espaço pequeno e com poucas ferramentas, qualquer pessoa pode fazer móveis altamente rentáveis, vender mais barato que muitas lojas e ainda ter um lucro invejável.</p>
    <p>É uma estratégia simples e segura para quem gosta de faça você mesmo. Não é à toa que virou tendência no mercado brasileiro.</p>
  </div>

  </div>


  <div class="row mb-5">
    <div class="col-6 mb-3">
      <h2 class="">Este é o curso certo para quem quer fazer dinheiro, com materiais leves, altamente rentáveis e fáceis de trabalhar.</h2>

    </div>

    <div class="col-md-6">
      <p>O curso é obrigatório para 3 tipos de pessoas:</p>
      <p><strong>Motoristas de aplicativo</strong> cansados de trabalhar muito sem sobrar dinheiro.</p>
      <hr/>
      <p><strong>Aspirantes a marceneiro</strong> que almejam começar uma carreira mas não possuem muitas ferramentas ou experiência</p>
      <hr/>
      <p><strong>Mulheres e aposentados</strong> que gostam de atividades manuais e querem fazer peças mais audaciosas sem precisar de muito esforço</p>
    </div>

  </div><!-- mercado -->


  <div class="row mb-5 bg-danger p-5">
    <div class="col-8 mb-3">
      <h2 class="">Seja um aluno Oficina de Casa e <em>aprenda a lucrar fazendo o que ama</em>, sem sair de casa.</h2>

    </div>

    <div class="col-md-4">
      <p><a href="#oferta" class="btn btn-primary btn-large mb-2 mt-3">Comece por apenas 12x 19,90</a></p>
    </div>

  </div><!-- mercado -->




<div class="row mb-3">
  <div class="col-12 mb-3">
    <h2 class="text-center">Veja alguns projetos <em>EXTREMAMENTE LUCRATIVOS</em> que você vai aprender a fazer</h2>
  </div>
  <div class="col-md-6">
    <h3 class="text-primary">Mesas de jantar</h3>

    <img src="/images/preco-mesas.jpg" width="100%"  class="mb-3" />

    <p>Visite uma loja de móveis e você vai perceber que mesas de jantar podem chegar a preços bem altos. E algumas delas nem têm tanta qualidade assim.</p>
    <p><strong>Você pode fazer essa mesa <em>gastando muito pouco.</em></strong></p>
    <img src="/images/mesa-paletes.jpg" width="100%"  class="mb-3" />

    <p>Acredita que ela foi feita com paletes de pinus? <strong>Paletes são muito baratos</strong> e, quando usados com inteligência,
      podem se transformar em <strong>móveis lindos e lucrativos</strong>.<p>
    <p>No nosso curso você vai aprender o <strong>passo a passo completo</strong> para fazer essa mesa.</p>
  </div>
  <div class="col-md-6">
    <h3 class="text-primary">Cadeiras</h3>
    <img src="/images/preco-cadeiras.jpg" width="100%"  class="mb-3" />

    <p>Cadeiras também têm um valor agregado alto, principalmente quando são feitas com estilo.</p>
    <p><strong>Conforto e durabilidade</strong> são diferenciais que podem justificar um <em>valor mais alto de venda</em>.</p>
    <img src="/images/cadeiras-paletes.jpg" width="100%"  class="mb-3" />
    <p>Estas cadeiras também são feitas com madeira de paletes. Note que a cadeira de baixo usa uma técnica sofisticada para curvar a madeira, conferindo um estilo único que valoriza o design.</p>
    <p><strong>Você vai aprender esta técnica e muitas outras</strong>, para se tornar um marceneiro de mão cheia.<p>

  </div>


  <div class="col-md-4">
    <img src="/images/poltrona-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Cadeiras de descanso</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/banco-ripado.jpg" width="100%"  class="mb-3" />
    <p><strong>Banco de ripas</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/vintage.jpg" width="100%"  class="mb-2" />
    <p><strong>Criado mudo vintage</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/sapateira-preco.jpg" width="100%"  class="mb-3" />
    <p><strong>Banco Sapateira</strong></p>
  </div>

  <div class="col-md-4">
    <img src="/images/luminaria-veleiro.jpg" width="100%"  class="mb-3" />
    <p><strong>Luminaria de Madeira e Juta</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/banco-rustico-jardim.jpg" width="100%"  class="mb-2" />
    <p><strong>Banco com madeira rústica</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/carretinha-bike.jpg" width="100%"  class="mb-2" />
    <p><strong>Carretinha para bicicleta</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/cabeceira-botone.jpg" width="100%"  class="mb-2" />
    <p><strong>Cabeceira de botonê</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/brinquedos.jpg" width="100%"  class="mb-2" />
    <p><strong>Brinquedos</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/banco-dobravel.jpg" width="100%"  class="mb-2" />
    <p><strong>Banco desmontável</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/bandeja-marchetaria.jpg" width="100%"  class="mb-2" />
    <p><strong>Bandeja de marchetaria</strong></p>
  </div>

  <div class="col-md-4 mb-3">
    <img src="/images/artes/bike.jpg" width="100%"  class="mb-2" />
    <p><strong>Bicicleta de equilíbrio</strong></p>
  </div>

</div><!-- projetos -->

<div class="row mb-3">
  <div class="col-12 mb-5 text-center">
    <h2 class="mb-3">Como o Oficina de Casa pode te ajudar?</h2>
    <h4 class="">Aqui, você encontra tudo que precisa saber para se tornar um especialista em fazer móveis que dão lucro de verdade. <em>Do básico ao avançado</em>.</h4>
  </div>

  <div class="col-md-4 text-center  ">
    <p><img src="/images/projetos/display-curso-online-oficina-de-casa.jpg"  /></p>
    <p>Passo a passo em vídeo, para você acessar de onde quiser</p>
  </div>

  <div class="col-md-4 text-center  ">
    {{ if .Params.Ebook_gif }}
      <p><img src="{{ .Params.Ebook_gif | relURL}}"  /></p>
    {{ else }}
      <p><img src="/images/ebook-palete.gif"  /></p>
    {{ end }}

    <p>Ebook com planos de corte e dicas adicionais pra você imprimir</p>
  </div>

  <div class="col-md-4 text-center  ">
    <p><img src="/images/suporte-telegram.jpg"  /></p>
    <p>Ajuda do professor e da comunidade pelo Telegram</p>
  </div>

</div><!-- experiencia -->



<div class="row mb-3">
  <div class="col-12 text-center mb-4 ">
    <h2 class="mb-3">Eles <em>começaram do zero</em> igual a você</h2>
    <h4 class="">E estão vivendo de marcenaria, fazendo bonito</h4>
    <p class="text-center">Confira abaixo as fotos que eles nos mandam</p>
  </div>
  <div class="col-md-2  col-6 col-6">
    <img src="/images/mulheres/anna.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/bats.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/cris.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/salles.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/mulheres/maurinha.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/zero/sandromoreno.jpg" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-02.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-01.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-08.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-07.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-04.jpg" width="100%"  class="mb-3" />
  </div>
  <div class="col-md-2  col-6">
    <img src="/images/artes/aluno-13.jpg" width="100%"  class="mb-3" />
  </div>



</div><!-- social marcenaria -->



<!-- course details -->

<div class="row mb-5 " id="oferta">

  <div class="col-lg-6 offset-lg-3 pb-3 pl-5 pr-5 card card-cta text-center bg-danger ">
    <h2 class="text-center text-uppercase text-white">Oferta especial</h2>
    <hr/>
    <h2 class="text-white"><small style="color: #ffffffc5">12x R$ 29,90</small></h2>

    <hr/>
      <h4 class="text-white">O QUE VOCÊ VAI APRENDER:</h4>
    <p class="text-white mb-1 text-left"><strong>➡ Como montar sua oficina SEM gastar uma fortuna</strong></p>
    <p class="text-white mb-1  text-left"><strong>➡ Como aproveitar espaços pequenos</strong></p>
    <p class="text-white mb-1  text-left"><strong>➡ Como escolher, comprar e usar as melhores ferramentas</strong></p>
    <p class="text-white mb-1  text-left"><strong>➡ Quais os materiais mais econômicos e lucrativos</strong></p>
    <p class="text-white mb-1  text-left"><strong>➡ Como fazer mesas e cadeiras DO ZERO, mesmo sem experiência</strong></p>

    <p class="text-white mb-1  text-left"><strong>➡ Como fazer cortes precisos usando jigs e gabaritos</strong></p>
    <p class="text-white mb-1  text-left"><strong>➡ Técnicas de acabamento de dar inveja </strong></p>
    <p class="text-white mb-1  text-left"><strong>➡ Tudo sobre lâminas e serras (tico-tico e cirular) </strong></p>
    <p class="text-white mb-1  text-left"><strong><em>BÔNUS:</em> 60 projetos extras para ganhar ainda mais </strong></p>
    <p class="text-white mb-1  text-left"><strong><em>BÔNUS:</em> 23 projetos usando MDF, incluindo um guarda roupas </strong></p>
    <p class="text-white mb-1  text-left"><strong><em>BÔNUS:</em> técnicas e ferramentas especiais para MDF </strong></p>
    <p class="text-white mb-1  text-left"><strong><em>CURSO BÔNUS:</em> Segredos e técnicas da Tupia </strong></p>


    <script type="text/javascript">
      setInterval(function time(){
      var d = new Date();
      var hours = 24 - d.getHours();
      var min = 60 - d.getMinutes();
      if((min + '').length == 1){
        min = '0' + min;
      }
      var sec = 60 - d.getSeconds();
      if((sec + '').length == 1){
            sec = '0' + sec;
      }
      jQuery('#the-final-countdown div').html('<p class="text-white"><i class="ti-timer mr-2"></i>Esta oferta termina em <strong>'+hours+' : '+min+' : '+sec+'</span></strong></p>')
      }, 1000);
    </script>

    <hr />



    <div id="the-final-countdown" class="my_countdown">
      <div></div>
    </div>
      <p><a class="btn btn-primary btn-large mb-2 mt-3" href="https://pay.hotmart.com/W16037117C?off=v3ntqtv2&checkoutMode=10" role="button">
       Compre agora!
      </a></p>
      <p class="text-white">15 dias de garantia</p>
      <img src="/images/formas-pagamento-3.png"  alt="Compre o curso de marcenaria e pague usando cartão de crédito, boleto ou pix" style="max-width: 100%"/>
  </div>

</div>
