<div class="collapse mt-3" id="collapsePlan">

  <h5><small class="text-light text-uppercase">Módulo 1</small><br/>Planejamento e Projeto</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Introdução</li>
<li>➡ Projeto e Desenho</li>
<li>➡ Plano de Corte</li>
<li>➡ Revisão e exercício</li>
<li>➡ Projeto em 3D e Exercício</li>
<li>➡ Mapa de Corte</li>
<li>➡ Mapa de Corte 2.0 (+ fácil) e exercício</li>
<li>➡ Observações importantes</li>

</ol>

<h5><small class="text-light text-uppercase">Módulo 2</small><br/>Croqui em Escala e Maquete</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Croqui em Escala</li>
<li>➡ Entendendo a Maquete</li>
<li>➡ Montagem da Maquete</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 3</small><br/>Marcações e Corte</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Dicas de Marcação</li>
<li>➡ Como ajustar a serra circular</li>
<li>➡ Como criar uma guia para serra circular</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 4</small><br/>Furação</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Como fazer um gabarito pra furação</li>
<li>➡ Como fazer furos alinhados com a Tupia</li>
<li>➡ Dicas de furação com a furadeira</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 5</small><br/>Cavilhas</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Como fazer as furações para cavilhas</li>
<li>➡ Como fixas as cavilhas</li>
<li>➡ Como fazer furos no meio da peça</li>
<li>➡ Revisão e exercício</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 6</small><br/>Fita de borda</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Fita de borda sem sujeira</li>
<li>➡ Dicas para refile</li>
<li>➡ Iniciando a montagem</li>
<li>➡ Exercício</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 7</small><br/>Portas</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Medição e folgas</li>
<li>➡ Dobradiças</li>
<li>➡ Instalação de dobradiças caneco</li>
<li>➡ Instalação de dobradiças – parte 2</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 8</small><br/>Gavetas</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Gavetas e suas medidas</li>
<li>➡ Como fazer um rebaixo para o fundo com a Tupia</li>
<li>➡ Medida do fundo e instalação</li>
<li>➡ Como instalar a gaveta no móvel</li>
<li>➡ Mais um modelo de gaveta</li>
<li>➡ Exercício</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 9</small><br/>Puxador Feito com tupia na porta e gaveta</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Gabarito e regulagem da tupia</li>
<li>➡ Usinagem com a Tupia</li>
<li>➡ Usinagem do puxador da porta</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 10</small><br/>Parafusos</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Entenda o parafuso</li>
<li>➡ Coloque o parafuso</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 11</small><br/>Fundo e Fixação</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Tipos de fundo X seu móvel</li>
<li>➡ Fundo e Fixação Suspensa</li>
<li>➡ Instalação do móvel e Regulagem das dobradiças</li>
<li>➡ Instalação do móvel e dicas de Buchas e nível</li>
<li>➡ Montagem</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 12</small><br/>MDF</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Espessuras</li>
<li>➡ Tipos de MDF: onde usar</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 13</small><br/>Ergonomia</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Ideias de layout para ambientes & dicas de ergonomia</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 14</small><br/>Conectores</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Tipos de conectores</li>
<li>➡ Como criar um gabarito para conector</li>
<li>➡ Gabarito Continuação</li>
</ol>

<h5><small class="text-light text-uppercase">Módulo 15</small><br/>Criando um nicho</h5>
<ol class="list-unstyled  mb-4">
<li>➡ Montagem do Nicho</li>
<li>➡ Finalização do fundo com conectores</li>
<li>➡ Portas basculantes</li>
<li>➡ Articuladores da porta</li>
<li>➡ Tamponamento</li>
<li>➡ Instalação do nicho</li>
<li>➡ Instalação do tamponamento</li>
</ol></div>
