<!-- course details -->
<div class="row">
  <div id="sobre" class="col-md-9 mb-4 order-sm-2 orde-md-1 content">
    {{ .Content }}
  </div>
  <div class="col-md-3 order-sm-1 order-md-2">
    <p>Veja nesta página:</p>
    <ol class="list-unstyled">
      <li><a href="#sobre">➡ Informações gerais</a></li>
      <li><a href="#programa">➡ Conteúdo do curso</a></li>
      <li><a href="#depoimentos">➡ Depoimentos</a></li>
      <li><a href="#bonus">➡ Bônus</a></li>
      <li><a href="#faq">➡ Dúvidas frequentes</a></li>
      <li><a href="#faq">➡ Cursos relacionados</a></li>
      </ol>

  </div>
</div>
