<div class="row  mb-5 ">

  <div class="col-12 ">
      <h2>Método comprovado: veja nossos alunos fazendo arte & dindin</h2>
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Antonio.jpg" alt="Marcenaria feita pelo aluno Antonio" title="Marcenaria feita pelo aluno Antonio" height="auto" width="100%" />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Rodrigo.jpg" alt="Marcenaria feita pelo aluno rodrigo" title="Marcenaria feita pelo aluno rodrigo" height="auto" width="100%"  />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Sormani.jpg" alt="Marcenaria feita pelo aluno sormani" title="Marcenaria feita pelo aluno sormani" height="auto" width="100%"  />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Waldir.jpg" alt="Marcenaria feita pelo aluno waldir" title="Marcenaria feita pelo aluno waldir" height="auto" width="100%"  />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Zenilton.jpg" alt="Marcenaria feita pelo aluno zenilton" title="Marcenaria feita pelo aluno zenilton" height="auto" width="100%"  />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Chris.jpg" alt="Marcenaria feita pelo aluno chris" title="Marcenaria feita pelo aluno chris" height="auto" width="100%"  />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Charles.jpg" alt="Marcenaria feita pelo aluno charles" title="Marcenaria feita pelo aluno charles" height="auto" width="100%"  />
  </div>
  <div class="col-12 mb-5">
    <img src="images/alunos/Aluno_Everton.jpg" alt="Marcenaria feita pelo aluno aluno everton" title="Marcenaria feita pelo aluno aluno everton" height="auto" width="100%"  />
  </div>
</div>
