<div class="row  mb-5 " id="programa">
    <div class="col-12 ">
        <h3>Conheça o programa do curso Oficina Club</h3>
        <p>Olha só o que você vai aprender no curso Oficina Club</p>
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2020/09/movel-vintage.png" alt="Movel Vintage" title="Movel Vintage" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2020/09/brinquedos.png" alt="Brinquedos" title="Brinquedos" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2020/09/mesinha.png" alt="Mesinha" title="Mesinha" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2020/09/banco-desmontavel.png" alt="Banco Desmontavel" title="Banco Desmontavel" height="auto" width="100%" />
    </div>

    <div class="col-md-3 mb-5 ">
      <h5>Brinquedos</h5>
      <ol class="list-unstyled"><li>➡ Bicicleta de equilíbrio Infantil</li><li>➡ Pinball</li><li>➡ Espada e Escudo</li><li>➡ Perna de Pau</li><li>➡ Carrinho de Madeira</li><li>➡ Carrinho de rolimã com palete</li><li>➡ Brinquedos para fazer com seus filhos</li><li>➡ Dominó</li><li>➡ Carrinho multiuso</li><li>➡ Brinquedos para fazer com seus filhos</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Sala</h5>
      <ol class="list-unstyled"><li>➡ Aparador</li><li>➡ Puff almofadado com rodinhas</li><li>➡ Aparador de Mesa</li><li>➡ Nicho em MDF</li><li>➡ Sapateira para hall de entrada</li><li>➡ Prato giratório</li><li>➡ Móvel Vintage</li><li>➡ Aparador com madeira de demolição</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Mesas</h5>
      <ol class="list-unstyled"><li>➡ Mesa para churrasco</li><li>➡ Mesa vintage</li><li>➡ Mesa de centro com tronco</li><li>➡ Mesa com tampo de concreto</li><li>➡ Mesinha de material reciclado</li><li>➡ Mesinha de Apoio</li><li>➡ Mesinha para Notebook</li><li>➡ Mesa de Jantar</li><li>➡ Mesas de Canto</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Bancos &amp; Cadeiras</h5>
      <ol class="list-unstyled"><li>➡ Cadeira</li><li>➡ Banco de Tronco</li><li>➡ Banco de Jardim</li><li>➡ Banco de peroba</li><li>➡ Banco envelhecido</li><li>➡ Banco desmontável</li><li>➡ Banco de Jardim com Tábuas</li><li>➡ Banco de madeira desmontável</li><li>➡ Banco de Palete</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2020/09/mesa-tronco.png" alt="Mesa Tronco" title="Mesa Tronco" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2020/09/estante-retorcida.png" alt="Estante Retorcida" title="Estante Retorcida" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2019/05/cadeira-3.png" alt="Mesinha" title="cadeira 3" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <img src="/uploads/2019/05/movel-novo-4.png" alt="Banco Desmontavel" title="movel novo 4" height="auto" width="100%" />
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Armarios &amp; Estantes</h5>
      <ol class="list-unstyled"><li>➡ Armário de compensado</li><li>➡ Estante retorcida</li><li>➡ Estante retorcida Laminada</li><li>➡ Estante para livros</li><li>➡ Sapateira para Hall de Entrada</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Iluminação</h5>
      <ol class="list-unstyled"><li>➡ Luminária fita de Led</li><li>➡ Abajur</li><li>➡ Patina do Abajur</li><li>➡ Luminária de teto</li><li>➡ Luminária exclusiva de arame</li><li>➡ Luminária – Nó de cimento</li><li>➡ Luminária de Piso com design clean</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Decoração</h5>
      <ol class="list-unstyled"><li>➡ Moldura usando fresas</li><li>➡ Douração da Moldura</li><li>➡ Dado de madeira</li><li>➡ Cabideiro com martelo e tronco de árvore</li><li>➡ Mão francesa rústica</li><li>➡ Vaso de cimento com mão francesa de madeira</li><li>➡ Retalhos de Madeira – Cabideiro</li><li>➡ Relógio de mesa</li></ol>
    </div>
    <div class="col-md-3 mb-5 ">
      <h5>Diversos</h5>
      <ol class="list-unstyled"><li>➡ Organizador de Mesa</li><li>➡ Jardim Vertical</li><li>➡ Cafeteira de Cimento</li><li>➡ Vaso de cimento com saco de juta</li><li>➡ Painel de madeira rústico</li></ol>
    </div>

</div>
