<div class="row bg-light p-3 pt-5 mb-5">
  <div class="col-8 mb-5 offset-2">
    <h3 class="text-center ">O que você leva em <em>todo curso do Oficina de Casa</em></h3>
  </div>

  <div class="col-6">
    <h5>Projetos passo a passo</h5>
    <p>Nos meus vídeos do youtube, eu não tenho a chance de passar todos os detalhes (porque iria levar muito tempo). Aqui no curso, você vai acompanhar todos os detalhes comigo explicando o que estou fazendo e porque estou fazendo. Assim, não ficará nenhuma dúvida. É como se você estivesse na oficina comigo.</p>

  </div>

  <div class="col-6 mb-5">
    <img src="/images/display.webp" />
  </div>

  <div class="col-6  mb-5">
    <img src="/images/planos-paletes.webp" />
  </div>

  <div class="col-6">
    <h5>Planos de corte em PDF</h5>
    <p>
Eu me preocupei bastante em criar projetos que fizessem sentido. Porque, vamos falar sério, a maioria dos pdfs na internet não prestam pra muita coisa. Separado, cada plano de corte com essa qualidade poderia ser vendido por R$100,00. Eu investi meu tempo pessoal para garantir que estes planos de corte facilitem a sua vida na hora de realizar seu projeto.
</p>

  </div>

  <div class="col-6">
    <h5>Guia de compra e uso de 14+ ferramentas e máquinas</h5>
    <p>
Sempre que eu uso uma nova ferramenta eu explico como ela funciona e como tirar o melhor proveito dela. Também compartilho dicas secretas que aprendi em mais de 30 anos na oficina. Para facilitar, compilei as principais informações em um e-book, que você pode imprimir e usar sempre que tiver alguma dúvida. Esse e-book sozinho vai te ajudar a economizar milhares de reais na compra de equipamentos.
</p>

  </div>
  <div class="col-6 mb-5">
    <img src="/images/ebook-maquinas.webp" />
  </div>
  <div class="col-6 mb-5">
    <img src="/images/projetos/tecnicas.webp" />
  </div>

  <div class="col-6">
    <h5>Mais de 20 técnicas, passo a passo</h5>
    <p>
Antes de começarmos a cortar, furar ou lixar, eu vou te mostrar exatamente como fazer. Você vai aprender tudo no detalhe, com uma didática muito cuidadosa. Chega de assistir vídeos no youtube e tentar adivinhar a técnica por tentativa e erro.
</p>

  </div>

  <div class="col-6">
    <h5>Jigs e gabaritos para te ajudar a fazer mais e melhor</h5>
    <p>
Marcenaria de qualidade exige precisão. Por isso, vamos construir ferramentas auxiliares que garantem cortes retos e precisos (os Jigs) e que permitem recriar peças com precisão (gabaritos). Seu trabalho vai parecer profissional, mesmo que você não tenha a mão muito firme.
</p>

  </div>

  <div class="col-6 mb-5">
    <img src="/images/projetos/jigs.webp" />
  </div>

  <div class="col-6 mb-5">
    <img src="/images/projetos/acabamentos.webp" />
  </div>

  <div class="col-6">
    <h5>Acabamentos feitos com simplicidade</h5>
    <p>
Você não precisa ter medo de acabamentos! A cada projeto eu vou te mostrar uma técnica de acabamento diferente, elevando o nível da sua técnica naturalmente. Para você não se perder mais entre as milhares de opções do mercado, eu vou te dar a dica certa com os produtos que eu mais gosto de usar.
</p>

  </div>





</div><!-- o que leva -->
