<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}'); background-size: cover;" >
  <div class="container">

    <div class="row" >
      <!--div class="col-12 text-center mb-5">
          <a href="/ofertas/site/"><img src="/images/banner-natal.png " max-width="100%" /></a>
      </div-->
      <div class="col text-center">
        <!--h6 class="text-light text-uppercase">Curso online: {{ .Title  }}</h6-->
        <h2 class="text-primary text-uppercase">{{ .Title  }}</h2>
        <h3 class="text-white mb-4">{{ .Params.Headline }}</h3>
        {{ if .Params.Video_vendas }}
        <a href="{{ .Params.Video_vendas }}" class="venobox vbox-item" data-vbtype="video">
        <img src="{{ .Params.Projects_image | relURL}}" style="max-width: 100%" class="mb-2"/>
        </a>

        {{ else }}
          {{ if .Params.Projects_image }}
            <img src="{{ .Params.Projects_image | relURL}}" style="max-width: 100%" class="mb-2"/>
          {{ end }}
        {{ end }}
      </div>
    </div> <!-- end main -->

    </div>
</section>
