<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}'); background-size: cover;" >
  <div class="container">

    <div class="row" >
      <!--div class="col-12 text-center mb-5">
          <a href="/ofertas/site/"><img src="/images/banner-natal.png " max-width="100%" /></a>
      </div-->
      <div class="col text-center">
        <!--h6 class="text-light text-uppercase">Curso online: {{ .Title  }}</h6-->
        <h2 class="text-primary ">{{ .Params.Headline  }}</h2>
        <h4 class="text-white mb-4">{{ .Params.Subheadline }}</h4>
        {{ if .Params.video_id }}
        <!--a href="{{ .Params.Video_vendas }}" class="venobox vbox-item" data-vbtype="video">
        <img src="{{ .Params.Projects_image | relURL}}" style="max-width: 100%" class="mb-2"/>
        </a-->
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .Params.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{ else }}

          {{ if .Params.Projects_image }}
            <img src="{{ .Params.Projects_image | relURL}}" style="max-width: 100%" class="mb-2"/>
          {{ end }}
        {{ end }}
        <p><a class="btn btn-danger btn-large mb-2 mt-3" href="{{ .Params.Apply_url | safeURL }}" role="button">
          {{ .Params.Cta }}
        </a></p>
      </div>
    </div> <!-- end main -->

    </div>
</section>
