<div class="jmvplayer" style="position: relative; padding-bottom: calc(100% / (16/9));">
  <iframe src="https://player.jmvstream.com/54Vd20TnaU011Ml8YpmhShmL3NaAu1/rhn2222kg2z2xm2" allowfullscreen allow="autoplay; fullscreen" frameborder="0" style="position: absolute; height: 100%; width: 100%;">
  </iframe>
</div>

<!-- Comprar -->
<div class="row pt-5 pb-5 mb-5" style="background-color: #f5f5f5;">
  <div class="col-12 text-center ">


    <h3 class="mb-3">PROMOÇÃO VÁLIDA ATÉ SEXTA. INSCREVA-SE JÁ!</h3>
    </div>
    <div class="col-md-2 text-center ">
      </div>
    <div class="col-md-4 text-center ">
      <a class="btn btn-primary mb-3" href="https://pay.hotmart.com/T62722277B" role="button">PACOTE PROMOCIONAL, POR 10X R$ 59,00</a>
    </div>
    <div class="col-md-4 text-center ">
        <a class="btn btn-primary mb-3" href="https://pay.hotmart.com/E62722330N" role="button">PACOTE COM MENTORIA, POR 10X R$ 129,00</a>

      </div>
      <div class="col-md-2 text-center ">
        </div>
    <div class="col-md-12 text-center ">
      <p><strong>Consulte parcelamento no boleto pelo whatsapp</strong></p>

    <img class="mr-4 img-fluid" src="/images/formas-pagamento.png" alt="Pagamento seguro com hotmart.">
  </div>
</div><!-- row -->
