<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item h2"><a class="text-primary font-secondary" href="{{ site.BaseURL | absLangURL }}">{{ .Title  }}</a></li>
          {{ if isset .Params "subtitle" }}
            <li class="list-inline-item text-white h3 font-secondary">{{ .Params.Subtitle }}</li>
          {{ end }}
          {{ if isset .Params "url_sim" }}
            <li class="list-inline-item"><a href="{{ .Params.url_sim }}" class="btn btn-primary">Sim, por favor!</a></li>
          {{ end }}
          {{ if isset .Params "url_nao" }}
            <li class="list-inline-item"><a href="{{ .Params.url_nao }}" class="btn btn-secondary">{{ .Params.cta_nao }}</a></li>
          {{ end }}
        </ul>
        <!--p class="text-lighten">{{ .Params.Description | markdownify }}</p -->
      </div>
    </div>
  </div>
</section>


<!--
<section class="page-title-section " style="background-color:#d1d7cd !important;" >
  <div class="container">

  <div class="row">
    <div class="col-md-8 mt-md-5">
      <ul class="list-inline custom-breadcrumb">
        <li class="list-inline-item"><h2 class="text-danger text-uppercase">Promoção de Natal</h2></li>
          <li class="list-inline-item mb-3"><h3>Descontos de até 80% para você começar a aprender Marcenaria agora</h3></li>
          <li class="list-inline-item"><a href="/cursos/" class="btn btn-primary">Conheça nossos cursos</a></li>
          <li class="list-inline-item mt-2"><a href="/ofertas/site/" class="btn btn-secondary">Compre 4 cursos, com 80% OFF</a></li>

      </ul>
      <p class="text-lighten">{{ .Params.Description | markdownify }}</p>
    </div>
    <div class="col-md-4">
      <img src="/images/Arvore_Natal.jpg " width="300" />
    </div>
  </div>
</div>
</section><!-- end main -->
