<!-- course info
<div class="row align-items-center mb-5">
  <!--div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
    <h2>{{ .Title }}</h2>
  </div>
  <div class="col-xl-8 order-sm-3 order-xl-2 col-12 order-2">
    <ul class="list-inline text-xl-center">
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-calendar text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">{{ .Params.Duration }}</h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-timer text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0">{{ .Params.Weekly }}</h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-credit-card text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0"><small>Parcele em até</small><br/>10x sem juros</h6>

          </div>
        </div>
      </li>

      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-wallet text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0"><small>De: {{ .Params.De }}</small><br/>Por: {{ .Params.Fee }}</h6>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-xl-4 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
    {{ if  isset .Params "black_link" }}
    <a href="{{ .Params.Black_link | safeURL }}" class="btn btn-danger">QUERO COMPRAR AGORA!</a>
    {{ else }}
    <a href="{{ .Params.Apply_url | safeURL }}" class="btn btn-primary">{{ i18n "apply_now" }}</a>
    {{ end }}
  </div>

  <!-- border
  <div class="col-12 mt-4 order-4">
    <div class="border-bottom border-primary"></div>
  </div>
</div>

-->
