{{ if and ( not ( eq .RelPermalink "/cursos/" )) ( eq .Section "cursos" )   }}

  {{- partial "header_curso.html" . -}}

{{ else if and ( not ( eq .RelPermalink "/ofertas/" )) ( eq .Section "ofertas" )   }}

  {{- partial "header_curso.html" . -}}

{{ else if  ( eq .Section "masterpack" ) }}

    {{- partial "header_curso.html" . -}}

{{ else if  ( eq .Section "conversoes" ) }}

    {{- partial "header_curso.html" . -}}

{{ else if  ( eq .Section "upsell" )  }}

    {{- partial "header_upsell.html" . -}}

{{ else if  ( eq .Section "lancamento" )  }}

      {{- partial "header_lancamento.html" . -}}

{{ else }}

  {{- partial "header_normal.html" . -}}

{{ end }}
