{{ if or ( not ( eq .Section "cursos" )) ( eq .RelPermalink "/cursos/" ) }}

<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item h2"><a class="text-primary font-secondary" href="{{ site.BaseURL | absLangURL }}">{{ .Title  }}</a></li>
          {{ if isset .Params "subtitle" }}
            <li class="list-inline-item text-white h3 font-secondary">{{ .Params.Subtitle }}</li>
          {{ end }}
          {{ if isset .Params "url_sim" }}
            <li class="list-inline-item"><a href="{{ .Params.url_sim }}" class="btn btn-primary">Sim, por favor!</a></li>
          {{ end }}
          {{ if isset .Params "url_nao" }}
            <li class="list-inline-item"><a href="{{ .Params.url_nao }}" class="btn btn-secondary">{{ .Params.cta_nao }}</a></li>
          {{ end }}
        </ul>
        <p class="text-lighten">{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>

{{ else }}



<section class="page-title-section  bg-black "  >

<div class="container">

  {{ if isset .Params "black_link" }}

      <div class="row" >
        <div class="col-sm-12 col-lg-6 mb-3">
          <img src="/images/black-november-hotmart.png" width="100%" />
        </div>
        <div class="col-sm-12 col-lg-6">
          {{ if eq .RelPermalink "/cursos/curso-luthieria-pauleira-oficina-de-casa/" }}
            <img src="/images/100-reais-desconto.png" width="100%"  />
          {{ else }}
            <img src="/images/50-desconto.png" width="100%"  />
          {{ end }}

        </div>
        <div class="col-sm-12 col-lg-7 offset-lg-2 pt-2">
          <img src="/images/sorteio-parafusadeiras.png" width="100%"  />
        </div>
      </div>


    </div>
    </section>

    <section class="bg-dark pt-5 pb-5"  >

    <div class="container">


  {{ end }}


<div class="row">
  <div class="col-12 text-center mb-2 ">
    <h4 class="text-light">Curso Online</h4>
    <h2 class="text-white text-uppercase">{{ .Title  }}</h2>
  </div>

  </div>
  <div class="row mb-5 ">

  <div class="col-xl-12 mb-5 ">
    <ul class="list-inline text-xl-center">
      <li class="list-inline-item mr-4 mb-3 mb-sm-0 ">
        <div class="d-flex align-items-center">
          <i class="ti-calendar text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0 text-white">{{ .Params.Duration }}</h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-timer text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0 text-white">{{ .Params.Weekly }}</h6>

          </div>
        </div>
      </li>
      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-credit-card text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0 text-white"><small>Parcele em até</small><br/>10x sem juros</h6>

          </div>
        </div>
      </li>

      <li class="list-inline-item mr-4 mb-3 mb-sm-0">
        <div class="d-flex align-items-center">
          <i class="ti-wallet text-primary icon-md mr-2"></i>
          <div class="text-left">
            <h6 class="mb-0 text-white"><small>De: {{ .Params.De }}</small><br/>Por: {{ .Params.Fee }}</h6>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-lg-4 mb-3 offset-lg-1"><img src="{{ .Params.square_image | relURL }}" width="100%" /></div>
  <div class="col-lg-6 mt-2">
    <h4 class="mb-3 text-white">{{ .Params.Subtitle }}</h4>

    <p class="text-white"><strong>{{ .Params.Sub1 }}</strong></p>
    <p class="text-white">{{ .Params.Sub2 }}</p>
    <p class="text-white">{{ .Params.Sub3 }}</p>
    <p class="text-white"><strong>Compre agora e acesse para sempre!</strong></p>



</div>
</div>

{{ if eq .RelPermalink "/cursos/marcenaria-em-casa/" }}
  {{- partial "cta_mdf.html" . -}}
{{ else if eq .RelPermalink "/cursos/tupia/" }}
  {{- partial "cta_mdf.html" . -}}

{{ else if eq .RelPermalink "/cursos/marcenaria-criativa/" }}
  {{- partial "cta_palete.html" . -}}
{{ else if eq .RelPermalink "/cursos/moveis-mdf/" }}
    {{- partial "cta_palete.html" . -}}

{{ end }}
</div>

</section>

{{ end }}
