<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
<a href="/cursos">
      <div class="row" >
        <div class="col-sm-12 col-lg-6 mb-5">
          <img src="/images/black-november-hotmart.png" width="100%" />
        </div>

        <div class="col-sm-12 col-lg-6 ">
          <img src="/images/199-10x.png" width="100%"  />
        </div>
      </div>

    </div>
</a>

</section>
