<!-- related course -->
<section class="section pt-0" id="mais_cursos">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "related_course" }}</h2>
      </div>
    </div>
    <div class="row">
      <!-- course item -->
      {{ $related := (where site.RegularPages "Type" "cursos") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) | shuffle | first 3}}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "course"}}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /related course -->
