<div class="row mb-3">
  <div class="col-12 mb-3 text-center">
    <h2 class="mb-3">Mesmo pessoas sem experiência podem começar a fazer e <em>vender móveis e objetos rapidamente</em></h2>
    <h4 class="">Basta ter o método certo e vontade de aprender</h4>
  </div>

  <div class="col-md-4 text-center  ">
    <p><img src="/images/projetos/display-curso-online-oficina-de-casa.jpg"  /></p>
    <p>Passo a passo em vídeo, para você acessar de onde quiser</p>
  </div>

  <div class="col-md-4 text-center  ">
    {{ if .Params.Ebook_gif }}
      <p><img src="{{ .Params.Ebook_gif | relURL}}"  /></p>
    {{ else }}
      <p><img src="/images/ebook-palete.gif"  /></p>
    {{ end }}

    <p>Ebook com planos de corte e dicas adicionais pra você imprimir</p>
  </div>

  <div class="col-md-4 text-center  ">
    <p><img src="/images/suporte-telegram.jpg"  /></p>
    <p>Ajuda do professor e da comunidade pelo Telegram</p>
  </div>

</div><!-- experiencia -->
