<div class="row mb-5">
  <div class="col text-center mb-4 ">
    <h2 class="">{{ .Params.Superacao }}</h2>
    <h4 class="">{{ .Params.Sub_superacao }}</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-3">
    <p class="text-center"><i class="ti-heart text-primary icon-md"></i></p>
    <p class="text-center">{{ .Params.S1 }}</p>
  </div>

  <div class="col-md-3">
    <p class="text-center"><i class="ti-heart text-primary icon-md"></i></p>
    <p class="text-center">{{ .Params.S2 }}</p>
  </div>

  <div class="col-md-3">
    <p class="text-center"><i class="ti-heart text-primary icon-md"></i></p>
    <p class="text-center">{{ .Params.S3 }}</p>
  </div>

  <div class="col-md-3">
    <p class="text-center"><i class="ti-heart text-primary icon-md"></i></p>
    <p class="text-center">{{ .Params.S4 }}</p>
  </div>
</div>
<div class="row">
  <div class="col text-center mb-2 mt-3">
    <h3 class="">{{ .Params.conclusao_superacao }}</h3>
  </div>
</div>
