<div class="row mb-5">

  <div class="col-12 text-center ">
    <h2 class="text-center text-primary text-uppercase">Acesso Imediato & Certificado no final</h2>
  </div>
  <div class="col text-center  ">
    <p><img src="/images/projetos/display-curso-online-oficina-de-casa.jpg"  /></p>
    <a href="https://www.youtube.com/watch?v=EynX9ENnX3U" target="_blank" class="btn btn-primary venobox vbox-item" data-vbtype="video" > <i class="ti-control-play"></i> Conheça o Espaço do Aluno</a>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-3">
    <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
    <p class="text-center"><strong>Curso 100% Online</strong><br/>Vídeo aulas gravdas em alta qualidade</p>
  </div>

  <div class="col-md-3">
    <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
    <p class="text-center"><strong>Grupo Exclusivo no Telegram </strong><br/> para compartilhar e trocar experiências com outros alunos</p>
  </div>

  <div class="col-md-3">
    <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
    <p class="text-center"><strong>Assista de qualquer lugar</strong><br/> no celular, tablet ou computador, apenas com uma conexão à Internet</p>
  </div>

  <div class="col-md-3">
    <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
    <p class="text-center"><strong>Suporte nota 10</strong><br/> da Equipe Oficina de Casa para tirar todas suas dúvidas</p>
  </div>

</div>

<div class="row">
  <div class="col text-center mb-4 ">
    <h3 class="mb-3">E o melhor:<br/> VOCÊ PODE ASSISTIR PARA SEMPRE</h3>

  </div>
</div>
