    <!-- div class="row mb-5">
      <div class="col-12 text-center mb-5">
        <h2>Com a ajuda deste professor, você será capaz de <em>fazer qualquer coisa que imaginar</em></h2>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <img src="/images/profile-marcelo.jpg" alt="Professor de Marcenaria e faça você mesmo" width="100%"/>
      </div>
      <div class="col-md-6">
        <h3>Marcelo Aguilera</h3>
        <h4 class="text-primary">Fundador do canal Oficina de Casa</h4>
        <p>Há 10 anos ensinando a arte da marcenaria no YouTube. Com 30 anos de experiência em DIY , ou "faça você mesmo",
          já treinou mais de 5000 alunos online e mais de 100 presenciais.
          Especialista em criar alternativas para se usar poucas ferramentas,
          criador de diversos gabaritos super copiados nas redes sociais.
          Seu propósito é tornar você independente em todos os sentidos, poderoso para criar e fazer.</p>
      </div>
      <div class="col-md-2"></div>
    </div -->

    <div class="row mb-5 border p-5 shadow">

      <div class="col-md-7">
        <h4>Olá! Eu sou Marcelo Aguilera</h4>
        <p>Passei os últimos 10 anos me dedicando a ensinar pessoas comuns a fazer coisas extraordinárias no canal do YouTube "Oficina de Casa".</p>
        <p>Conquistamos mais de 750 mil inscritos e mais de 30 milhões de visualizações com nossos tutoriais. Acredito que esse sucesso todo se deve a três fatores: criatividade, didática e a alternativas que criamos para favorecer as pessoas que não tinham uma oficina repleta de ferramentas.</p>
        <p>Acredito que a marcenaria é um excelente caminho para a autorrealização e tive o prazer de ajudar milhares de pessoas nessa jornada. Pessoas que começaram do zero, sem ter nunca encostado em um serrote, e agora estão fazendo coisas incríveis em suas pequenas oficinas de casa.</p>

      </div>
      <div class="col-md-5">
        <img src="/images/marcelo-carta.jpg"  class="mb-3" />
      </div>

      <div class="col">
        <p>Eu acredito que qualquer pessoa é capaz de construir peças únicas, práticas e belas a partir de pedaços de madeira, sem precisar gastar uma fortuna em equipamentos.</p>
        <p>Ao final de meus cursos, você vai ver que isso é verdade. E vai sentir também o prazer enorme de dizer "Fui eu que fiz".</p>
        <p>Minha missão pessoal é me tornar o melhor professor de marcenaria do Brasil, ajudando pessoas comuns a desenvolver habilidades, aumentar a autoestima e conquistar seus sonhos.</p>
        <p>Tenho certeza que posso te ajudar muito e não vejo a hora de te ensinar a fazer seus próprios móveis e objetos, com a sua cara (muito mais legal que os móveis prontos comprados nas lojas).</p>
        <p>Se imagine escutando "Que incrível, foi você que fez?" e ter a sua família usufruindo das suas criações por décadas… sem contar todo dinheiro economizado.</p>
        <p>Vem ser feliz com a gente.</p>
        <p><strong>Marcelo Aguilera</strong></p>
      </div>

    </div><!-- end row carta -->
