<div class="row mb-3">
  <div class="col-12 mb-3 text-center">
    <h2 class="mb-3">Dá pra fazer tudo isso <em>sem investir uma fortuna em ferramentas</em></h2>
    <h4 class="">Somos conhecidos por ensinar técnicas complexas com ferramentas manuais</h4>
  </div>

  <div class="col-md-8 offset-md-2">
    <img src="/images/ferramentas-basicas.webp" width="100%"  class="mb-3" />
    <p class="text-center">Com essas ferramentas baratas você conseguirá <em>fazer e vender</em> quase todos os nossos projetos.</p>
  </div>

  <div class="col-12 mb-3">
    <h2 class="text-center">Também ensinamos a comprar e usar máquinas elétricas, <em>com economia e segurança</em></h2>

  </div>

  <div class="col-md-8 offset-md-2">
    <img src="/images/ferramentas-eletricas.webp" width="100%"  class="mb-3" />
    <p class="text-center">Sempre damos dicas para você acertar na compra e ter seu investimento de volta rapidinho.</p>
  </div>

</div><!-- ferramentas -->
