<div class="row  mb-5 ">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <img src="/images/selo-garantia-15-dias-laranja.png" alt="Selo Garantia 15 Dias Laranja" title="Selo Garantia 15 Dias Laranja" height="auto" width="100%" />
    </div>

    <div class="col-md-6">
      <h3>Risco Zero!</h3>
      <p>Todos os nossos alunos tem 15 dias de GARANTIA para testar nosso conteúdo, garantindo a qualidade do curso que você está adquirindo.</p>
      <p>Você pode comprar este curso sem medo e estudar por 15 dias e se não gostar devolvemos 100% do seu dinheiro.&nbsp;</p>
      <p><strong>Aviso legal:</strong></p>
      <p>Nossa metodologia foi testada e validada por centenas de alunos. Tudo que é ensinado aqui já gerou resultados consistentes para nós, nossos alunos e nossos clientes. Porém como a aplicação depende do entendimento e disciplina do aluno os resultados podem variar de pessoa para pessoa.</p>
	   </div>
 </div>
