<div class="row">
  <div class="col text-center mb-2 ">
    <h2 class="text-white ">{{ .Params.Promessa }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">01</p>
    <p class="text-white">{{ .Params.P1 }}</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">02</p>
    <p class="text-white">{{ .Params.P2 }}</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">03</p>
    <p class="text-white">{{ .Params.P3 }}</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">04</p>
    <p class="text-white">{{ .Params.P4 }}</p>
  </div>

</div>

<div class="row mb-5">
  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">05</p>
    <p class="text-white">{{ .Params.P5 }}</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">06</p>
    <p class="text-white">{{ .Params.P6 }}</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">07</p>
    <p class="text-white">{{ .Params.P7 }}</p>
  </div>

  <div class="col-md-3">
    <p class="destaque  text-primary mb-0">08</p>
    <p class="text-white">{{ .Params.P8 }}</p>
  </div>

</div>
