<div class="row mb-3">
  <div class="col-12 mb-4">
    <h2 class="text-center">Que tal <em>arrebentar de vender em 2022</em>, com mais 60 projetos fáceis de fazer e vender? </h2>
  </div>

  <div class="col-lg-8 offset-lg-2 text-center mb-4">
    <p class="text-center " style="font-size:24px; font-weight:bolder;">✓ Perfeito para INICIANTES</p>
    <hr />
    <p class="text-center  mt-0"  style="font-size:24px; font-weight:bolder;">✓ Descubra como construir DO ZERO</p>
    <hr />
    <p class="text-center   mt-0"  style="font-size:24px; font-weight:bolder;">✓ Lucre 3X OU MAIS o valor do material</p>
  </div>

  <div class="col-12 mb-4">

  </div>


  <div class="col-md-8 offset-md-2 mb-4">
    <h3>Construir projetos de marcenaria do zero parece IMPOSSÍVEL?</h3>
    <p><strong>Falta de habilidade com as ferramentas, desperdício de insumos, erros de cálculo e falta de espaço te impeder de progredir?</strong></p>
    <p>Está cansado de assistir tutoriais, comprar cursos e não tirar seus projetos do papel?</p>
    <p>90% dos iniciantes na marcenaria <strong>sofrem com isso também</strong>.</p>
    <p>Compram ferramentas, materiais e não estão nem perto de terem retorno do investimento. </p>
    <p>Perdem tempo, dinheiro e o mais importante: não constroem conhecimento.</p>
    <p>Talvez esse seja o seu caso.</p>
    <p>Queremos te mostrar o PASSO A PASSO que temos dentro da Oficina de Casa para te ajudar para sair dessa situação e <em><strong>APRENDER A CONSTRUIR PROJETOS e FATURAR</strong></em> na internet.</p>
  </div>

</div><!-- mercado -->

<div class="row mb-3">

  <div class="col-12 mb-4">
    <h3 class="text-center">Veja as perguntas mais procuradas no Google sobre “marcenaria”</h3>
  </div>

  <div class="col-md-6">
    <img src="/images/pesquisa-google-01.gif" width="100%"  class="mb-3" />
  </div>

  <div class="col-md-6">
    <img src="/images/pesquisa-google-01.gif" width="100%"  class="mb-3" />
  </div>


  <div class="col-md-8 offset-md-2 mb-3">
    <p>Essa breve pesquisa nos mostra o grande potencial dessa comunidade de pessoas que buscam a marcenaria seja como hobby ou como profissão. </p>
    <p>Infelizmente, as pessoas não estão preparadas para a maioria dos cursos mirabolantes que vemos na internet. </p>
    <p>Existem níveis na marcenaria, e esses níveis devem ser respeitados.  </p>
    <p>Muitas vezes nos preocupamos com o projeto pronto em si e acreditamos que o resto é automático.  </p>
    <p>Pensamos que, por instinto e conhecimento prévio, vamos saber quais técnicas usar. </p>
    <h3 >Essa não é a realidade.</h3>
    <p><strong>A marcenaria exige dedicação e tempo para subir cada degrau do conhecimento.</strong>  </p>
    <p>Agora, como podemos formar bases de entendimento sólidas e <strong>construir</strong>, além de <strong>potencializar</strong> o conhecimento prévio de cada um? </p>
    <p>Como podemos ser úteis para que você seja completamente <strong>CAPAZ</strong> de interpretar um projeto <strong>SOZINHO</strong> e tirar do papel, sem largar no meio do caminho? </p>
  </div>


  <div class="col-md-8 offset-md-2 mb-3 p-4 card card-cta mb-5 bg-primary">
    <h3 class="text-center mb-4">Nossos métodos contam com:</h3>
    <p class="text-center text-white" style="font-size:18px; font-weight: bolder;">✓ Professores com mais de 30 anos de experiência. </p>
    <p class="text-center text-white" style="font-size:18px; font-weight: bolder;">✓ Projetos para o nível: iniciante, intermediário e avançado. </p>
    <p class="text-center text-white" style="font-size:18px; font-weight: bolder;">✓ Mais de 190 técnicas explicadas.  </p>
    <p class="text-center text-white" style="font-size:18px; font-weight: bolder;">✓ Vídeos explicativos e didáticos.  </p>
    <p class="text-center text-white" style="font-size:18px; font-weight: bolder;">✓ Explicações claras sobre as funções de cada ferramenta e de cada item utilizado no processo. </p>
    <p class="text-center text-white" style="font-size:18px; font-weight: bolder;">✓ Acesso ao nosso grupo onde nossos mestres tiram dúvidas em tempo real.  </p>
  </div>

  <div class="col-md-8 offset-md-2 mb-5">
    <p><strong>Não existe fórmula mágica, nem fórmula pronta. </strong></p>
    <p>Cada pessoa se encontra num nível, mas isso não significa que quem já sabe muito e quem ainda sabe pouco NÃO possam aprender cada vez mais. </p>
    <p>Já tivemos mais de 5000 mil alunos e 750 assinates ao longo desses 11 anos. Estamos aqui para treinar seu olhar e sua habilidade técnica para que você atinja seus objetivos. </p>
    <p>Para que você tenha sua AUTONOMIA garantida e seja capaz de entender que qualquer projeto de marcenaria pode sim ser construído com harmonia e respeito por essa arte.</p>
    <p>Se você quer melhorar seus conhecimentos ou começar do zero, essa é a sua chance.</p>
    <h3 >Nós garantimos que você vai ter outros olhos para a marcenaria em <em>pouquíssimo tempo</em>.</h3>
  </div>
</div><!-- mercado -->

<div class="row mb-3">
  <div class="col-12 mb-4 text-center">
    <h2 class="text-center"><span class="text-primary">ATENÇÃO</span><br/><em>Somente hoje</em> e para você que adquiriu o curso BANCO QUE VIRA MESA</h2>
    <p class="text-center mb-0" style="font-size:24px; font-weight: bolder;">Acesso completo a 60 projetos por apenas...</p>
    <p class="text-center text-primary mb-0" style="font-size:36px; font-weight: bolder;">...12x de R$ 14,00 ou R$ 149,00 à vista!</p>
    <p class="text-center " style="font-size:24px; font-weight: bolder;">é menos que um lanche do McDonalds por mês.</p>
    <p><a class="btn btn-danger btn-large mb-2 mt-3" href="https://pay.hotmart.com/W16037117C?off=it0so3a5" role="button">
      SIM! Quero lucrar com marcenaria!
    </a></p>
  </div>

<div>

  <!-- course details -->

  <div class="row">
    <div class="col mb-4 text-center">
    <h2 class="">E você ainda leva mais <em>3 cursos, inteiramente grátis!</em></h2>
    </div>
  </div>
  <div class="row mb-5 card-deck">

  <div class="col-md-4 card text-center card-curso mb-2" style="z-index:10">
    <h3 class="text-center text-uppercase"> Bônus grátis</h3>
        <img src="/small/thumb-marcenaria.jpg" width="100%"  class="mb-3" />
        <div class="card-body">
          <p>Um curso para quem quer fazer móveis do ZERO com poucas ferramentas</p>
          <p><a href="#collapseMzero" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseMzero"  role="button" aria-expanded="false" aria-controls="collapseMzero">Programa do curso</a></p>
          {{- partial "curso_programa_m20.html" . -}}
        </div>
  </div>

  <div class="col-md-4 card text-center card-curso mb-2" style="z-index:10">
    <h3 class="text-center text-uppercase">Bônus grátis</h3>
    <img src="/small/t-mdf-2.jpg" width="100%"  class="mb-3" />

    <div class="card-body">
      <p>23 projetos incríveis para você superar a crise e faturar R$ 5.000 por mês ou mais</p>
      <p><a href="#collapseMdf" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseMdf"  role="button" aria-expanded="false" aria-controls="collapseMdf">Programa do curso</a></p>
      {{- partial "curso_programa_mdf.html" . -}}
    </div>


  </div>

  <div class="col-md-4 card text-center card-curso mb-2" style="z-index:10">
    <h3 class="text-center text-uppercase">Bônus grátis</h3>
    <img src="/small/t-tupia.jpg" width="100%"  class="mb-3" />
    <div class="card-body">
      <p>Eleve o nível da sua marcenaria e ganhe muito mais dinheiro</p>
      <p><a href="#collapseTupia" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseTupia"  role="button" aria-expanded="false" aria-controls="collapseTupia">Programa do curso</a></p>
      {{- partial "curso_programa_tupia.html" . -}}
    </div>

  </div>

  </div><!-- incluso -->


  <div class="row mb-3">
    <div class="col-12 mb-3">
      <h2 class="text-center">Veja o que você vai aprender a fazer para <em>começar a lucrar rápido</em></h2>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/banco-rustico-jardim.jpg" width="100%"  class="mb-2" />
      <p><strong>Banco com madeira rústica</strong><br/>Potencial de ganho: até <em>5x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/carretinha-bike.jpg" width="100%"  class="mb-2" />
      <p><strong>Carretinha para bicicleta</strong><br/>Potencial de ganho: até <em>5x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/cabeceira-botone.jpg" width="100%"  class="mb-2" />
      <p><strong>Cabeceira de botonê</strong><br/>Potencial de ganho: até <em>3.5x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/brinquedos.jpg" width="100%"  class="mb-2" />
      <p><strong>Brinquedos</strong><br/>Potencial de ganho: até <em>4x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/vintage.jpg" width="100%"  class="mb-2" />
      <p><strong>Criado mudo vintage</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/banco-dobravel.jpg" width="100%"  class="mb-2" />
      <p><strong>Banco desmontável</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/bandeja-marchetaria.jpg" width="100%"  class="mb-2" />
      <p><strong>Bandeja de marchetaria</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/balde-madeira.jpg" width="100%"  class="mb-2" />
      <p><strong>Balde de madeira</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/bike.jpg" width="100%"  class="mb-2" />
      <p><strong>Bicicleta de equilíbrio</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/maquiagem.jpg" width="100%"  class="mb-2" />
      <p><strong>Penteadeiras funcionais</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/cabeceira-led.jpg" width="100%"  class="mb-2" />
      <p><strong>Cabeceiras iluminadas</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/gabinete-banheiro.jpg" width="100%"  class="mb-2" />
      <p><strong>Gabinetes e gaveteiros</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="/images/artes/nicho-aparador.jpg" width="100%"  class="mb-2" />
      <p><strong>Nichos e aparadores</strong><br/>Potencial de ganho: até <em>4x o valor do material</em></p>
    </div>

    <div class="col-md-4">
      <img src="/images/poltrona-preco.jpg" width="100%"  class="mb-3" />
      <p><strong>Cadeiras de descanso</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4">
      <img src="/images/banco-ripado.jpg" width="100%"  class="mb-3" />
      <p><strong>Banco de ripas</strong><br/>Potencial de ganho: até  <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4">
      <img src="/images/adega-preco.jpg" width="100%"  class="mb-3" />
      <p><strong>Adega para vinhos</strong><br/>Potencial de ganho: até <em>3.5x o valor do material</em></p>
    </div>

    <div class="col-md-4">
      <img src="/images/sapateira-preco.jpg" width="100%"  class="mb-3" />
      <p><strong>Banco Sapateira</strong><br/>Potencial de ganho: até <em>3x o valor do material</em></p>
    </div>

    <div class="col-md-4">
      <img src="/images/luminaria-veleiro.jpg" width="100%"  class="mb-3" />
      <p><strong>Luminaria de Madeira e Juta</strong><br/>Potencial de ganho: até <em>4x o valor do material</em></p>
    </div>

  </div><!-- potencial de ganho -->







  <div class="row mb-3">
    <div class="col-12 text-center mb-4 ">
      <h2 class="mb-3">Eles <em>começaram do zero</em> igual a você</h2>
      <h4 class="">E estão vivendo de marcenaria, fazendo bonito</h4>
      <p class="text-center">Confira abaixo as fotos que eles nos mandam</p>
    </div>
    <div class="col-md-2  col-6 col-6">
      <img src="/images/mulheres/anna.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/zero/bats.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/mulheres/cris.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/zero/salles.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/mulheres/maurinha.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/zero/sandromoreno.jpg" width="100%"  class="mb-3" />
    </div>

    <div class="col-md-2  col-6">
      <img src="/images/artes/aluno-05.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/artes/aluno-01.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/artes/aluno-06.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/artes/aluno-07.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/artes/aluno-04.jpg" width="100%"  class="mb-3" />
    </div>
    <div class="col-md-2  col-6">
      <img src="/images/artes/aluno-13.jpg" width="100%"  class="mb-3" />
    </div>

  </div><!-- social marcenaria -->

  {{- partial "row_garantia.html" . -}}
  {{- partial "row_professor.html" . -}}
  {{- partial "row_faq.html" . -}}
