{{ define "main" }}

<!-- notice details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <div class="text-center mr-4">
            <div class="p-4 bg-primary text-white">
              <span class="h2 d-block">{{ .Params.M_dia }}</span> {{ .Params.M_mes }}, {{ .Params.M_ano }}
            </div>
          </div>
          <!-- notice content -->
          <div class="content">
            {{ .Content }}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /notice details -->

{{ end }}
