
{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">

{{ if eq .RelPermalink "/conversoes/banco-mesa/" }}

  {{- partial "upsell-marcenaria.html"  -}}

{{ else }}

<!-- notice details -->

    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="d-flex">
          <div class="content">
            <h2>Quer acessar o curso né?</h2>
            <p>Clique no botão abaixo e pede a senha pro nosso suporte:</p>
            <p><a href="https://web.whatsapp.com/send?phone=5519991924835&amp;text=Quero acessar o curso" class="btn btn-primary" ><span class="wptwa-avatar">Fale com o suporte pelo whatsapp.</span></a></p>
            <p>Seu acesso foi enviado por email&nbsp;e normalmente chega em instantes.</p>
            <p>Se demorar mais do que 10 minutos:</p>
            <ul>
            <li>Verifique a caixa de Promoções, ou</li>
            <li>Verifique a caixa de SPAM (as vezes acontece, o que nos deixa muito chateado).</li>
            </ul>
            <p>Se precisar de ajuda, chama o Rico no Whatsapp. Ele é o nosso suporte de acesso e pré-vendas e vai te ajudar rapidinho.</p>
            <h3>Comprou no Boleto?</h3>
            <p>O banco pode levar até 72h para confirmar o pagamento, mas <strong>se você mandar o comprovante pelo whatsapp o Rico cria o seu acesso na hora.</strong></p>
            <p><strong>BEM-VINDO(A) A FAMÍLIA OFICINA DE CASA</strong></p></div>
            {{ .Content }}
            {{ with .Params.Download_link }} <a href="{{ . | absURL }}" class="btn btn-primary">{{ i18n "download" }}</a>
            {{ end }}
          </div>
        </div>
      </div>


{{ end }}

</div>
</section>
<!-- /notice details -->

{{ end }}
