/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/slider';

@import 'templates/homepage';

@import 'templates/otherspage';

a, a.text-primary{ text-decoration: underline;     color: #007bff !important;}
a.nav-link, a.btn { text-decoration: none; color: #fff !important; }
footer a{ text-decoration: none; color: #5c5c77 !important; }

img{ max-width: 100%; object-fit: cover; }

em{
  border-bottom: 3px #febb3b solid;
  font-style: normal;
}

.page-title-section{
  padding: 200px 0 40px;
}

.card-curso p{
  font-size: 18px;
  line-height: 1.5em;
}

.card-curso{
  border-radius: 15px;
  border: solid 3px #ffbc3b;
  padding-top: 25px;

}

.card-cta{
  border-radius: 15px;
  padding-top: 35px;

}

.card-curso .card-body{
  padding: 0.25rem;
}

.card-icon{
  margin: 0 auto -25px auto;

}

.card-header .btn{
  white-space:normal;
  padding: 5px 10px;
  color: #5c5c77;
  text-transform: none;
}
.destaque{
  font-size: 3rem;
  font-weight: bolder;
}

.btn{
  white-space:normal !important;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-large{
  font-size: 1.5rem;
}

.zapbox{
  background-color: #fff;
  position: fixed;
  bottom:50px;
  right:50px;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bg-black {
    background-color: #000!important;
}

.bg-black p, .bg-black h2, .bg-black h3, .bg-black h4, .bg-black h5, .bg-black  h6{
    color: white;
}


.my_countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.my_countdown li span {
  display: block;
  font-size: 4.5rem;
  font-weight: bolder;
  color: black;
}

.my_countdown .emoji {
  display: none;
  padding: 1rem;
}

.my_countdown .emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {


  .my_countdown li {
    font-size: calc(1.125rem * var(--smaller));
  }

  .my_countdown li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
