/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/slider';

@import 'templates/homepage';

@import 'templates/otherspage';


.card-header .btn{
  white-space:normal;
  padding: 5px 10px;
  color: #5c5c77;
  text-transform: none;
}

.btn{
  white-space:normal !important;
  text-transform: uppercase;
  text-decoration: none;
}

.zapbox{
  background-color: #fff;
  position: fixed;
  bottom:50px;
  right:50px;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
