{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">

{{- partial "oferta.html" . -}}
{{- partial "curso_cta.html" . -}}
{{- partial "curso_marcenaria_planos.html" . -}}
{{- partial "curso_programa_m20.html" . -}}
{{- partial "curso_programa_mdf.html" . -}}
{{- partial "curso_programa_tupia.html" . -}}
{{- partial "curso_bonus.html" . -}}
{{- partial "curso_social.html" . -}}
{{- partial "curso_faq.html" . -}}
{{- partial "curso_professor.html" . -}}
{{- partial "related_cursos.html" . -}}


</div>
</section>


{{ end }}
