{{ define "main" }}

<section class="bg-light pt-2 pb-2" >
  <div class="container">

    <div class="row pt-5 mb-5" >

    <div class="col-12 text-center  mb-3">
      <h2 class="text-center text-primary text-uppercase">Leve 4 cursos completos, </h2>
      <h3>pelo preço de 1</h3>
    </div>

    <div class="col-lg-3 ">
        <img src="/images/marcenaria-square.jpg" width="100%" class="mb-3" />
    </div>

    <div class="col-lg-3 ">
        <img src="/images/thumbs/tupia-square.jpg" width="100%" class="mb-3" />
    </div>

    <div class="col-lg-3 ">
      <img src="/images/thumbs/mdf-square.jpg" width="100%" class="mb-3" />
    </div>

    <div class="col-lg-3 ">
      <img src="/images/thumbs/ideias-square.jpg" width="100%" class="mb-3" />
    </div>

    <div class="col-12 mt-3">

      <ul class="list-inline text-xl-center mb-3">
        <li class="list-inline-item mr-3 mb-3 mb-sm-0">
          <div class="d-flex align-items-center">
            <i class="ti-calendar text-primary icon-md mr-2"></i>
            <div class="text-left">
              <!--h6 class="mb-0">119 aulas<br/><small>em vídeo HD</small></h6-->
              <h6 class="mb-0">165 aulas<br/><small>em vídeo HD</small></h6>

            </div>
          </div>
        </li>
        <li class="list-inline-item mr-3 mb-3 mb-sm-0">
          <div class="d-flex align-items-center">
            <i class="ti-timer text-primary icon-md mr-2"></i>
            <div class="text-left">
              <h6 class="mb-0">49 horas<br/><small>de carga horária</small></h6>
              <h6 class="mb-0">75 horas<br/><small>de carga horária</small></h6>
            </div>
          </div>
        </li>

        <li class="list-inline-item mr-3 mb-3 mb-sm-0">
          <div class="d-flex align-items-center">
            <i class="ti-ruler-pencil text-primary icon-md mr-2"></i>
            <div class="text-left">
              <!--h6 class="mb-0">35 projetos<br/><small>Passo a passo</small></h6-->
              <h6 class="mb-0">95 projetos<br/><small>Passo a passo</small></h6>
            </div>
          </div>
        </li>
      </ul>

    </div>





  </div>
  </div>
</section>

<section class="pt-5 pb-5" >
  <div class="container">

    <div class="row">

      <div class="col-12 text-center ">

        <h2 class="text-center text-primary text-uppercase">Acesso Online + Certificado</h2>

      </div>


      <div class="col text-center mb-4 ">
        <img src="/images/projetos/display-curso-online-oficina-de-casa.jpg"  />
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
        <p class="text-center"><strong>Curso 100% Online</strong><br/>Vídeo aulas gravdas em alta qualidade</p>
      </div>

      <div class="col-md-3">
        <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
        <p class="text-center"><strong>Grupo Exclusivo no Telegram </strong><br/> para compartilhar e trocar experiências com outros alunos</p>
      </div>

      <div class="col-md-3">
        <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
        <p class="text-center"><strong>Assista de qualquer lugar</strong><br/> no celular, tablet ou computador, apenas com uma conexão à Internet</p>
      </div>

      <div class="col-md-3">
        <p class="text-center"><i class="ti-star text-primary icon-md"></i></p>
        <p class="text-center"><strong>Suporte nota 10</strong><br/> da Equipe Oficina de Casa para tirar todas suas dúvidas</p>
      </div>

    </div>

    <div class="row">
      <div class="col text-center mb-4 ">
        <h3 class="">E melhor: VOCÊ PODE ASSISTIR PARA SEMPRE</h3>
        <p><a href="https://www.youtube.com/watch?v=EynX9ENnX3U" target="_blank"><i>Clique aqui e assista ao vídeo e conheça o Espaço do aluno</i></a></p>
      </div>
    </div>

    <!--div class="row mb-2">
      <div class="col text-center">

        <div class="jmvplayer" style="position: relative; padding-bottom: calc(100% / (16/9));">
          <iframe src="https://www.youtube.com/embed/EynX9ENnX3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
    </div-->

  </div>
</section><!-- diferenciais -->


<section class="bg-light  pt-5 pb-5" >
  <div class="container">

    {{- partial "curso_marcenaria_planos.html" . -}}
    {{- partial "curso_programa_m20.html" . -}}
    {{- partial "curso_programa_club.html" . -}}
    {{- partial "curso_programa_mdf.html" . -}}
    {{- partial "curso_programa_tupia.html" . -}}


  </div>
</section><!-- curriculum -->

<section class=" pt-5 pb-5" >
  <div class="container">
    <div class="row">
      <div class="col text-center mb-4 ">
        <h2 class="text-uppercase">{{ .Params.Sub_resultados }}</h2>

      </div>
    </div>

    {{- partial "curso_social.html" . -}}

    <div class="col-12 text-center ">

      <h3 class="mb-3">PROMOÇÃO VÁLIDA POR TEMPO LIMITADO</h3>
      <a class="btn btn-danger btn-large mb-3" href="{{ .Params.Apply_url | safeURL }}" role="button">COMPRE AGORA! POR APENAS {{ .Params.preco_parcelado }}</a>
        <p><strong>Consulte parcelamento no boleto pelo whatsapp</strong></p>

      <img class="mr-4 img-fluid" src="/images/formas-pagamento.png" alt="Pagamento seguro com hotmart.">
    </div>

  </div>
</section><!-- prova social -->



<section class="bg-light pt-3 pb-3" >
  <div class="container">
    {{- partial "curso_faq.html" . -}}
  </div>
</section><!-- faq -->


{{ end }}
